mixin footer()
	+b.FOOTER.footer
		.container-fluid
			+e.wrap
				+e.link-block
					ul
						li
							a(href="#") Решения
						li
							a(href="#") Отрасли
						li
							a(href="#") Информация
						li
							a(href="#") Контакты
					+e.logo
						img(src="img/svg/logo-2.svg", alt="")
				+e.info-block
					+e.info
						ul
							li
								p ООО «ДиСиЛоджик»
							li
								p ИНН: 7709901791
							li
								p 121151, Москва, ул. Можайский вал, дом 8С, офис 801
							li
								a(href="tel:+74959896227") +7 (495) 989-62-27
							li
								a(href="mailto:info@dclogic.ru") info@dclogic.ru
						p.copyright © 2021 DCLogic
					+e.soc-wrap
						a(href="#")
							img(src="img/svg/telegram.svg", alt="")
						a(href="#")
							img(src="img/svg/youtube.svg", alt="")
						a(href="#")
							img(src="img/svg/facebook.svg", alt="")
						a(href="#")
							img(src="img/svg/linkedin.svg", alt="")
						a(href="#")
							img(src="img/svg/instagram.svg", alt="")
						a(href="#")
							img(src="img/svg/twitter.svg", alt="")
						a(href="#")
							img(src="img/svg/whatsapp.svg", alt="")
						a(href="#")
							img(src="img/svg/vk.svg", alt="")
			//- +e.sub-menu
			//- 	+e.menu-logo
			//- 		img(src="img/svg/logo.svg", alt="")
			//- 	+e.menu-btns
			//- 		+e.menu-btn--tel(href="#")
			//- 			+icon(`phone`)
			//- 		+e.menu-btn--mail(href="#")
			//- 			+icon(`mail`)
			//- 		+e.menu-btn--search(href="#")
			//- 			+icon(`search`)
			//- 		+e.menu-btn--menu(href="#")
			//- 			+icon(`menu`)