mixin sBars(data)
	// start sBars
	+b.sBars.section#sBars&attributes(attributes)
		.container


			<svg xmlns="http://www.w3.org/2000/svg"  viewBox="-7 -7 46 46"> 
				<circle cx="16" cy="16" r="15.9155" class="progress-bar__background" stroke-width="8"  stroke="#DBE1E8" />
				
				<circle cx="16" cy="16" r="15.9155" stroke-width="14" class="progress-bar__progress  js-progress-bar" stroke="url(#paint0_linear_30_301)" />
				<circle cx="16" cy="16" r="15.9155" class="progress-bar__background"  fill="#fff" />
				
			</svg>


			svg
				<linearGradient id="paint0_linear_30_301"  >
				<stop stop-color="#72B5FF"/>
				<stop offset="0.251943" stop-color="#6EB3FF"/>
				<stop offset="0.369428" stop-color="#86C0FF"/>
				<stop offset="0.531589" stop-color="#429CFF"/>
				<stop offset="0.888758" stop-color="#017AFF"/>
				</linearGradient>



	// end sBars