// start .sBars
.sBars {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;
		// width: ;


		.grad{
			transform-origin: center;
			stroke-dashoffset: 40px;
			stroke-dasharray: 100 100 ;
		}
		
		svg{
			width: 389px;
			filL: none !important
		}
		@include media-breakpoint-up(lg){

			--size-lg: 342px;
		}
		--size-lg: 290px;
		&__row{
			// justify-content: space-between;
			@include media-breakpoint-up(lg) {

				--bs-gutter-x: 0;
				display: grid;
				grid-template-columns: 1fr var(--size-lg) 1fr;
				grid-template-rows: 1fr calc(var(--size-lg) - 100px) 1fr;
			}
		}

		&__col{
			// max-width: calc(50% -  var(--size-lg));
			width: 100%;
			// flex-grow: 1;
			&:nth-child(2) {
				// order: -1;
			}
		}
		&__col-center{
			@include media-breakpoint-up(sm){
				margin-bottom: 0;
			}
			margin-bottom: 1rem;
			@include media-breakpoint-up(lg) {

				grid-column: 2 / 3;
				grid-row: 1 / 4;
			}
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			svg{
				transform: rotateY(180deg);
			}
			.bar-item{
				&__text,
				&__title{
					flex-grow: 0;
					max-width: 190px;
					margin-left: auto;
					margin-right: auto;
					z-index: 3;	
				}
				&__title{
				}
				&__text{

				}

			}
		}
		&__col{
			&:nth-child(3),
			&:nth-child(5){
				svg{
					transform: rotateY(180deg);
				}
				.bar-item{
					flex-direction: row-reverse;
					&__text{
						// margin-left: auto;
					}
					&__text,
					&__title{
						padding-right: var(--sp);
						padding-left: 0;
						transform-origin: right; 
						
					}
					&__title span{
						transform-origin: right; 
					}
				}
			}
			&:nth-child(4),
			&:nth-child(5){
				
				grid-row: 3 / 4;
			}
		}
		&__col-сenter{
			.progress-bar__progress{

				stroke-dashoffset: 20;
			}

		}
		&__col{
			&:nth-child(2){
				.progress-bar__progress{

					stroke-dashoffset: 27;
				}
			}
			&:nth-child(3){
				.progress-bar__progress{

					stroke-dashoffset: 18;
				}
			}
			&:nth-child(4) {
				.progress-bar__progress{

					stroke-dashoffset: 32;
				}
			}
			&:nth-child(5) {
				.progress-bar__progress{
					stroke-dashoffset: 15;
				}
			}
		}
		@include media-breakpoint-up(xl) {}
		@include media-breakpoint-up(lg) {}
		@include media-breakpoint-up(md) {}
		@include media-breakpoint-up(sm) {}
		@include media-breakpoint-between(md, xl) {}
		@include media-breakpoint-only(xl) {}
		@include media-breakpoint-down(xl) {}
	} // end.sBars
	
	
	.progress-bar{
		circle{
			fill: none;
		}
		&__progress{
			
			stroke-dashoffset: 20;
			stroke-dasharray: 100  ;
			@include mt;
		}
	}
	
	.bar-item{
		// transform: rotate(180deg);
		// --progrees: 100;
	// &:not(.active) {
	// 	.progress-bar__progress{

	// 	}
	// }
	display: flex;
	width: 100%; 
	--sp: 15px;
	@include media-breakpoint-up(xl){

		--size: 163px;
	}
	@include media-breakpoint-up(sm){

		--size: 113px;
	}
	--size: 93px;
	&__svg-wrap{
		position: absolute;
		width: 100%; 
		height: 100%;
		z-index: 2;
	}
	&--lg{ 
		flex-direction: column;
		justify-content: center;
		align-items: center;
		--sp:0;
	}
	&__bar{
		flex:  0 0 auto;
		z-index: 2;
		text-align: center;
		&--lg{
			--size: var(--size-lg);
		}
		width: var(--size);
		height: var(--size);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		border-radius: 50%;
		position: relative;
		svg{
			z-index: -1;
			position: absolute;
			@include a-cent;
			width: 100%;
			height: 100%;
		}
	}
	&__sub-text{
		font-size: 12px;
		color: $primary;
		z-index: 3;	
		position: relative;
		font-weight: 500;
		
	}
	&__counter{
		@include media-breakpoint-up(sm) {
			font-size: rem(24);
		}
		position: relative;
		color: $primary;
		font-weight: 500;
		z-index: 3;	
	}
	&__caption{ 
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: rem(12);
	}
	&__text{
		font-size: 12px;
		color: #838990;
		&--sm{
			padding-left: var(--sp);
			max-width: 215px;
			flex-grow: 1;
			padding-top: rem(7);
		}
	}
	&__title span,
	&__text{
		transform-origin: left; 
	}
	&__title{
		font-weight: 500;
		transform-origin: left;
		&--border{
			flex-grow: 1;
			padding-left: var(--sp);
			display: flex;
			align-items: flex-end;
			padding-bottom: 7px;

			border-bottom: 2px solid $primary;
		}
	}
}

svg.mask{
	position: absolute;
	pointer-events: none;
	opacity: 0;
	// display: none;
}