mixin sForm(title)
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		.container-xl
			+form-wrap
				h2!=title
				+input(`Введите имя`,`text`,`Имя`)
				+input(`Введите название компании`,`text`,`Название компании`)
				+input(`Введите номер`,`tel`,`Контактный телефон`)
				+input(`Введите email`,`text`,`E-mail`)
				+input(``,`textarea`,`Cопроводительное письмо`)
				.sForm__btn-wrap
					.sForm__btn.btn.btn-primary Отправить
				.sForm__agree Нажимая кнопку «Отправить», я даю свое согласие<br>на обработку своих <a href="#">персональных данных</a>
	// end sForm