mixin sInfoNews(data)
	// start sInfoNews
	+b.SECTION.sInfoNews.section#sInfoNews&attributes(attributes)
		h1 Информация
		+links-wrap(infoNewsTabs)
		.row
			mixin item()
				.col-lg-3.col-sm-6
					+info-news-item
			- for(x = 0; x < 16; x++)
				+item
		+e.btn-wrap
			+e.BUTTON.btn.btn.btn-outline-primary Показать ещё новости
	// end sInfoNews

mixin sInfoCertificates(data)
	// start sInfoCertificates
	+b.SECTION.sInfoNews--certificates.section#sInfoCertificates&attributes(attributes)
		h1 Информация
		+links-wrap(infoCertificatesTabs)
		.container
			p Наша проектная деятельность подтверждается сертификатами и лицензиями СРО на строительство и проектирование. Выбирая нас, вы получите мультивендорный мультивендорный продуктовый портфель, отлаженную систему управления проектами и логистики, собственный сервисный центр
		.container-xl
			+e.certificates-wrap
				.row
					mixin item()
						.col-lg-3.col-6
							+b.certificates-item(href="#" data-fancybox data-src="img/@2x/certificate.jpg")
								img(src="img/@2x/certificate.jpg", alt="")
								+e.zoom
									img(src="img/svg/certificate-zoom.svg", alt="")
					- for(x = 0; x<14;x++)
						+item()
	// end sInfoCertificates

mixin sInfoPartners(data)
	+b.SECTION.sInfoNews--certificates.section#sInfoPartners&attributes(attributes)
		h1 Информация
		+links-wrap(infoPartnersTabs)
		.container-xl
			+e.partners-wrap
				.row
					mixin item()
						.col-lg-3.col-6
							+b.partners-item
								+e.logo
									img(src="img/svg/partner-logo.svg", alt="")
								+e.text
									span.title Статус:
									span.caption TITANIUM Partner
								+e.text
									span.title Партнеры:
									span.caption с 2012 г
								+e.more(href="#")
									span Подробнее
									img(src="img/svg/icon-popup.svg", alt="")
					- for(x = 0; x<20;x++)
						+item()