mixin sInfoNews(data)
	// start sInfoNews
	+b.SECTION.sInfoNews.section#sInfoNews&attributes(attributes)
		h1 Информация
		+links-wrap(infoNewsTabs)
		.container-xl.container-without-padding
			.row
				mixin item()
					.col-lg-3.col-sm-6
						+info-news-item
				- for(x = 0; x < 16; x++)
					+item
		+e.btn-wrap
			+e.BUTTON.btn.btn.btn-outline-primary Показать ещё новости
	// end sInfoNews

mixin sInfoCertificates(data)
	// start sInfoCertificates
	+b.SECTION.sInfoNews.section#sInfoCertificates&attributes(attributes)
		h1 Информация
		+links-wrap(infoCertificatesTabs)
		.container
			p Наша проектная деятельность подтверждается сертификатами и лицензиями СРО на строительство и проектирование. Выбирая нас, вы получите мультивендорный мультивендорный продуктовый портфель, отлаженную систему управления проектами и логистики, собственный сервисный центр
		.container-xl
			+e.certificates-wrap
				.row
					mixin item()
						.col-lg-3.col-6
							+b.certificates-item(href="#" data-fancybox data-src="img/@2x/certificate.jpg")
								img(src="img/@2x/certificate.jpg", alt="")
								+e.zoom
									img(src="img/svg/certificate-zoom.svg", alt="")
					- for(x = 0; x<14;x++)
						+item()
	// end sInfoCertificates

mixin sInfoPartners(data)
	+b.SECTION.sInfoNews.section#sInfoPartners&attributes(attributes)
		h1 Информация
		+links-wrap(infoPartnersTabs)
		.container-xl
			+e.partners-wrap
				.row
					mixin item()
						.col-lg-3.col-6
							+b.partners-item
								+e.logo
									img(src="img/svg/partner-logo.svg", alt="")
								+e.text
									span.title Статус:
									span.caption TITANIUM Partner
								+e.text
									span.title Партнеры:
									span.caption с 2012 г
								+e.more(href="#")
									span Подробнее
									img(src="img/svg/icon-popup.svg", alt="")
					- for(x = 0; x<20;x++)
						+item()
			+e.caption-text-block Предложение о партнёрстве отправляйте на <a href="mailto:partners@dclogic.ru">partners@dclogic.ru</a>

mixin sInfoEvents(data)
	+b.SECTION.sInfoNews.section#sInfoEvents&attributes(attributes)
		h1 Информация
		+links-wrap(infoEventsTabs)
		.container
			+e.events-wrap
				+info-event-item
				+info-event-item
				+info-event-item
				+info-event-item
		+e.btn-wrap
			+e.BUTTON.btn.btn.btn-outline-primary Показать ещё мероприятия

mixin info-event-item()
	+b.info-event-item(href="#")
		+e.text
			+e.title PAPA Regatta – 2021
			+e.caption В октябре в водах Центральной Далмации Хорватии прошла четвертая PAPA Regatta. Это ежегодное мероприятие с захватывающими гонками на яхтах и интересной развлекательной программой на берегу.
			+badge(`Вебинар`,`gray`)
		+pic(`info-event-item.jpg`,``,0)


mixin sInfoMedia(data)
	+b.SECTION.sInfoNews--media.section#sInfoMedia&attributes(attributes)
		h1 Информация
		+links-wrap(infoMediaTabs)
		.container
			+e.events-wrap
				+info-media-item
				+info-media-item
				+info-media-item
				+info-media-item
		+e.btn-wrap
			+e.BUTTON.btn.btn.btn-outline-primary Показать ещё статьи

mixin info-media-item
	+b.info-media-item(href="#")
		+pic(`info-media-item.jpg`,``,0)
		+e.text
			+e.title Предприятия "Норникеля" продолжают автоматизировать учет энергоресурсов
			+e.caption В Норильском обеспечивающем комплексе (группа предприятий «Норникеля») работы по подключению к автоматизированной системе стартовали в январе 2019 года.
			+e.more
				span Подробнее
				img(src="img/svg/icon-popup.svg", alt="")



mixin sInfoTeam(data)
	+b.SECTION.sInfoNews.section#sInfoTeam&attributes(attributes)
		h1 Информация
		+links-wrap(infoTeamTabs)
		.container
			+e.team-caption Коллектив DCLogic- это более 123  сертифицированных сотрудников, которые любят и знают свою работу
		+e.container.container
			+b.info-team-slider.swiper
				.swiper-wrapper
					+e.item.swiper-slide
						img(src="img/info-team-slider.jpg", alt="")
					+e.item.swiper-slide
						img(src="img/info-team-slider.jpg", alt="")
					+e.item.swiper-slide
						img(src="img/info-team-slider.jpg", alt="")
					+e.item.swiper-slide
						img(src="img/info-team-slider.jpg", alt="")
				.swiper-pagination
				+arrow
		.container-xl
			+e.team-wrap
				.row
					mixin item(pic,name,job,caption)
						.col-sm-6
							+b.info-team-item
								+pic(`info-team-${pic}.png`,``,0)
								+e.block
									+e.name!=name
									+e.job!=job
									+e.caption!=caption
					+item(`1`,`Андреев Дмитрий `,`Владелец`,`Генеральный директор компании DCLogic`)
					+item(`2`,`Акимова Камила`,`Менеджер по работе с партнёрами`,`Специалист из Москвы, менеджер по работе с вендорами`)
					+item(`3`,`Тищенко Денис `,`Заместитель директора`,`Заместитель директора по работе с ключевыми клиентами и партнерами`)
					+item(`4`,`Шутова Анна`,`Маркетолог`,`До августа 2021 года - офис-менеджер DCLogic`)
				h3 Мы ценим вклад каждого сотрудника и даем возможность карьерного роста
			+e.vacancy-wrap
				h2 Наши вакансии
				+vacancy-item()
				+vacancy-item()
				+vacancy-item()
				+vacancy-item()
				+vacancy-item()
				+vacancy-item()


mixin vacancy-item()
	+b.vacancy-item
		+e.head
			+e.title Менеджер по продажам в B2B
			+e.more(href="#")
				img(src="img/svg/icon-popup.svg", alt="")
		+e.salary-wrap
			+e.salary от 150 000 ₽
			+e.toggle-main
				+icon('chevron-down')
		+e.body
			+e.info
				+e.info-title Обязанности
					+icon(`chevron-down`)
				+e.info-body
					ul 
						li Администрирование нагруженной инфраструктуры, развернутой в ЦОДах
						li Администрирование платформы виртуализации VmWare ESXi 6.0-7.0
						li Администрирование платформы VmWare Horizon, DEM, UAG
						li Администрирование нагруженной инфраструктуры, развернутой в ЦОДах
						li Администрирование платформы виртуализации VmWare ESXi 6.0-7.0
						li Администрирование платформы VmWare Horizon, DEM, UAG
						li Администрирование нагруженной инфраструктуры, развернутой в ЦОДах
						li Администрирование платформы виртуализации VmWare ESXi 6.0-7.0
						li Администрирование платформы VmWare Horizon, DEM, UAG
			+e.info
				+e.info-title Требования
					+icon(`chevron-down`)
				+e.info-body
					ul 
						li Администрирование нагруженной инфраструктуры, развернутой в ЦОДах
						li Администрирование платформы виртуализации VmWare ESXi 6.0-7.0
						li Администрирование платформы VmWare Horizon, DEM, UAG
			+e.info
				+e.info-title Условия
					+icon(`chevron-down`)
				+e.info-body
					ul 
						li Администрирование нагруженной инфраструктуры, развернутой в ЦОДах
						li Администрирование платформы виртуализации VmWare ESXi 6.0-7.0
						li Администрирование платформы VmWare Horizon, DEM, UAG
			+e.info
				+e.info-title Тип занятости
					+icon(`chevron-down`)
				+e.info-body
					ul 
						li Администрирование нагруженной инфраструктуры, развернутой в ЦОДах
						li Администрирование платформы виртуализации VmWare ESXi 6.0-7.0
						li Администрирование платформы VmWare Horizon, DEM, UAG
			+e.responce.btn.btn-primary(href="#") Откликнуться
				

mixin sInfoProjects(data)
	+b.SECTION.sInfoNews.section#sInfoProjects&attributes(attributes)
		h1 Информация
		+links-wrap(infoProjectsTabs)
		.container-xl
			+tabs-wrap(industriesTabs)
			+e.cases-wrap
				+b.project-industry-slider-item.swiper-slide
					+e.bg
						img(src="img/svg/project-industry-slider-item-1.svg", alt="")
					+e.body
						+e.logo
							+pic(`project-slider-logo-1.png`,'',0)
							span Роскосмос
						+e.title Поставка персональных систем производства и МФУ HP
						+e.caption Вычислительная инфраструктура, Цифровизация предприятий
						ul
							li Оптимизировать «бумажные» потоки в компании
							li Минимизация потребления электроэнергии
							li Увеличение эффективности для обеспечения уровня необходимой производительности
						+e.btn(href="#") Читать отзыв заказчика
				+b.project-industry-slider-item.swiper-slide
					+e.bg
						img(src="img/svg/project-industry-slider-item-2.svg", alt="")
					+e.body
						+e.logo
							+pic(`project-slider-logo-2.png`,'',0)
							span Промтех
						+e.title Поставка персональных систем производства HP
						+e.caption Поставка персональных систем производства HP
						ul
							li Увеличение эффективности для обеспечения уровня необходимой производительности
							li Минимизация потребления электроэнергии
						+e.btn(href="#") Читать отзыв заказчика
				+b.project-industry-slider-item.swiper-slide
					+e.bg
						img(src="img/svg/project-industry-slider-item-3.svg", alt="")
					+e.body
						+e.logo
							+pic(`project-slider-logo-3.png`,'',0)
							span Росатом
						+e.title Поставка компьютерного оборудования производства HP
						+e.caption Вычислительная инфраструктура
						ul
							li Увеличение эффективности для обеспечения уровня необходимой производительности
							li Минимизация потребления электроэнергии
						+e.btn(href="#") Читать отзыв заказчика
				+b.project-industry-slider-item.swiper-slide
					+e.bg
						img(src="img/svg/project-industry-slider-item-4.svg", alt="")
					+e.body
						+e.logo
							+pic(`project-slider-logo-4.png`,'',0)
							span ДельтаКредит
						+e.title Поставка лицензий Oracle
						+e.caption Вычислительная инфраструктура, Цифровизация предприятий
						ul
							li Быстрый заказ лицензий на продление, этим мы избежали увеличения стоимости лицензий для Заказчика
							li Беспрерывное оказание услуг сервисной поддержки компанией Oracle
						+e.btn(href="#") Читать отзыв заказчика
				+b.project-industry-slider-item.swiper-slide
					+e.bg
						img(src="img/svg/project-industry-slider-item-5.svg", alt="")
					+e.body
						+e.logo
							+pic(`project-slider-logo-5.png`,'',0)
							span Альфа-банк
						+e.title Поставки компьютерного оборудования
						+e.caption Вычислительная инфраструктура, Цифровизация предприятий
						ul
							li Укреплена надежность информационной структуры компании
							li Повышен уровень инвестиционной защиты
							li Минимизация потребления электроэнергии
						+e.btn(href="#") Читать отзыв заказчика
		+e.btn-wrap
			+e.BUTTON.btn.btn.btn-outline-primary Показать ещё статьи

mixin sInfoProjectsIndex(data)
	+b.SECTION.sInfoNews--index.section#sInfoProjects&attributes(attributes)
		.container-xl
			h2 Проекты
			+e.cases-wrap
				+b.project-industry-slider-item.swiper-slide(class="wow animate__fadeInUp")
					+e.bg
						img(src="img/svg/project-industry-slider-item-1.svg", alt="")
					+e.body
						+e.logo
							+pic(`project-slider-logo-1.png`,'',0)
							span Роскосмос
						+e.title Поставка персональных систем производства и МФУ HP
						+e.caption Вычислительная инфраструктура, Цифровизация предприятий
						ul
							li Оптимизировать «бумажные» потоки в компании
							li Минимизация потребления электроэнергии
							li Увеличение эффективности для обеспечения уровня необходимой производительности
						+e.btn(href="#") Читать отзыв заказчика
				+b.project-industry-slider-item.swiper-slide(class="wow animate__fadeInUp")
					+e.bg
						img(src="img/svg/project-industry-slider-item-2.svg", alt="")
					+e.body
						+e.logo
							+pic(`project-slider-logo-2.png`,'',0)
							span Промтех
						+e.title Поставка персональных систем производства HP
						+e.caption Поставка персональных систем производства HP
						ul
							li Увеличение эффективности для обеспечения уровня необходимой производительности
							li Минимизация потребления электроэнергии
						+e.btn(href="#") Читать отзыв заказчика
				+b.project-industry-slider-item.swiper-slide(class="wow animate__fadeInUp")
					+e.bg
						img(src="img/svg/project-industry-slider-item-3.svg", alt="")
					+e.body
						+e.logo
							+pic(`project-slider-logo-3.png`,'',0)
							span Росатом
						+e.title Поставка компьютерного оборудования производства HP
						+e.caption Вычислительная инфраструктура
						ul
							li Увеличение эффективности для обеспечения уровня необходимой производительности
							li Минимизация потребления электроэнергии
						+e.btn(href="#") Читать отзыв заказчика
				+b.project-industry-slider-item.swiper-slide(class="wow animate__fadeInUp")
					+e.bg
						img(src="img/svg/project-industry-slider-item-4.svg", alt="")
					+e.body
						+e.logo
							+pic(`project-slider-logo-4.png`,'',0)
							span ДельтаКредит
						+e.title Поставка лицензий Oracle
						+e.caption Вычислительная инфраструктура, Цифровизация предприятий
						ul
							li Быстрый заказ лицензий на продление, этим мы избежали увеличения стоимости лицензий для Заказчика
							li Беспрерывное оказание услуг сервисной поддержки компанией Oracle
						+e.btn(href="#") Читать отзыв заказчика
				+b.project-industry-slider-item.swiper-slide(class="wow animate__fadeInUp")
					+e.bg
						img(src="img/svg/project-industry-slider-item-5.svg", alt="")
					+e.body
						+e.logo
							+pic(`project-slider-logo-5.png`,'',0)
							span Альфа-банк
						+e.title Поставки компьютерного оборудования
						+e.caption Вычислительная инфраструктура, Цифровизация предприятий
						ul
							li Укреплена надежность информационной структуры компании
							li Повышен уровень инвестиционной защиты
							li Минимизация потребления электроэнергии
						+e.btn(href="#") Читать отзыв заказчика


mixin sInfoPartnersIndex(data)
	+b.SECTION.sInfoNews--index.section#sInfoPartners&attributes(attributes)
		.container-xl
			+e.partners-wrap-slider.swiper
				div(class="wow animate__fadeInUp")
					h2 Партнеры
				.swiper-wrapper
					mixin item()
						+b.partners-item.swiper-slide(class="wow animate__fadeInUp")
							+e.logo
								img(src="img/svg/partner-logo.svg", alt="")
							+e.text
								span.title Статус:
								span.caption TITANIUM Partner
							+e.text
								span.title Партнеры:
								span.caption с 2012 г
							+e.more(href="#")
								span Подробнее
								img(src="img/svg/icon-popup.svg", alt="")
					- for(x = 0; x<16;x++)
						+item()
				.swiper-pagination
				+e.partners-wrap-slider-btns
					+arrow

mixin sInfoNewsIndex(data)
	// start sInfoNews
	+b.SECTION.sInfoNews--index.section#sInfoNews&attributes(attributes)
		.container-xl
			div(class="wow animate__fadeInUp")
				h2 Новости
			.sInfoNewsIndex-slider-wrap
				.sInfoNewsIndex-slider.swiper
					.swiper-wrapper
						mixin item()
							.col-3.swiper-slide(class="wow animate__fadeInUp")
								+info-news-item
						- for(x = 0; x < 16; x++)
							+item
					.swiper-pagination
			+e.btn-wrap
				+e.BUTTON.btn.btn.btn-outline-primary Показать ещё новости
	// end sInfoNews
