// start .sContact
.sContact {
	--sPT: 0;
	--sPT: #{rem(3)};
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(88)};
	}
	&__head {
		display: flex;
		@include media-breakpoint-up(lg) {
			flex-direction: row;
			padding-right: rem(56);
			padding-left: rem(56);
			padding-bottom: rem(87);
			align-items: center;
			justify-content: space-between;
		}
		padding-bottom: rem(32);
		flex-direction: column-reverse;
	}
	&__head-block {
		@include media-breakpoint-up(lg) {
			padding-left: rem(36);
			padding-right: rem(16);
			width: rem(448);
			max-width: rem(448);
			min-width: rem(447.9);
		}
		padding-left: rem(16);
		padding-right: rem(16);
		display: flex;
		flex-direction: column;
	}
	&__bg {
		@include media-breakpoint-up(lg) {
			max-width: rem(695);
		}
		width: 100%;
		@include media-breakpoint-down(lg) {
			margin-bottom: rem(20);
		}
		img {
			width: 100%;
			max-width: 100%;
		}
	}
	h1 {
		@include media-breakpoint-up(lg) {
			font-size: rem(48);
			margin-bottom: rem(24);
		}
		font-size: rem(32);
		margin-bottom: rem(16);
	}
	&__address, &__time{
		@include media-breakpoint-up(lg){
			font-size: rem(24);
			max-width: rem(472);
		}
		font-size: rem(19);
		max-width: rem(314);
	}
	&__tel {
		color: $body-color !important;
		@include media-breakpoint-up(lg) {
			font-size: rem(24);
			margin-bottom: rem(16);
			pointer-events: none;
		}
		margin-bottom: rem(8);
		font-size: rem(19);
		line-height: calc(32 / 24);
	}
	&__mail{
		@include media-breakpoint-up(lg){
			font-size: rem(24);
			pointer-events: none;
		}
		font-size: rem(19);
		line-height: calc(32 / 24);
		margin-bottom: rem(16);
	}
	&__map-block{
		display: flex;
		
		background-color: $white;
		@include media-breakpoint-up(lg){
			margin-bottom: rem(24);
			flex-direction: row;
		}
		flex-direction: column-reverse;
		margin-bottom: 3px;
		&:last-child{
			margin-bottom: 0;
		}
		&--reverse{
			@include media-breakpoint-up(lg){
				flex-direction: row-reverse;
			}
		}
	}
	.container-xl{
		@include media-breakpoint-down(lg){
			padding: 0;
		}
	}
	&__map-info{
		@include media-breakpoint-up(lg){
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: rem(40);
		}
		@include media-breakpoint-down(lg){
			padding-top: rem(16);
			padding-bottom: rem(32);
			padding-left: rem(9);
			padding-right: rem(9);
		}
	}
	&__map{
		@include media-breakpoint-up(lg){
			width: 50%;
			@include block(616,448);
		}
		width: 100%;
	}
	&__map-widget{
		@include media-breakpoint-up(lg){
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	//
	@include media-breakpoint-down(xl) {
	}
} // end.sContact
