// start .sSolutions
.sSolutions {
	--sPT: #{rem(24)};
	--sPB: #{rem(40)};
	// --sTPB: ;
	h1 {
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(51);
			font-size: $h1-font-size;
		}
		font-size: rem(32);
		margin-bottom: rem(16);
		text-align: center;
	}
	.container-xl {
		@include media-breakpoint-down(lg) {
			padding: 0;
		}
	}
	.tabs__caption {
		@include media-breakpoint-down(lg) {
			padding-left: rem(16);
			padding-right: rem(16);
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(39)};
		--sPB: #{rem(64)};
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sSolutions

.solution-content {
	overflow: hidden;
	width: 100%;
	background-color: $white;
	@include media-breakpoint-up(lg) {
		margin-bottom: rem(40);
	}
	margin-bottom: rem(32);
	&__body {
		@include media-breakpoint-up(lg) {
			padding: rem(48);
		}
		position: relative;
		@include media-breakpoint-down(lg) {
			padding-top: rem(152);
			padding-left: rem(16);
			padding-right: rem(16);
			padding-bottom: rem(0);
			overflow: hidden;
			border-bottom: 1px solid rgba(1, 122, 255, 0.2);
		}
	}
	&__footer {
		@include media-breakpoint-up(lg) {
			padding-top: rem(16);
			padding-left: rem(18);
			padding-right: rem(18);
			padding-bottom: rem(40);
		}
		padding-top: rem(24);
		padding-left: rem(16);
		padding-right: rem(16);
		padding-bottom: rem(32);
	}
	h2 {
		text-align: left;
		line-height: calc(40 / 32);
		font-size: rem(32);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(16);
			font-size: $h1-font-size;
		}
		margin-bottom: rem(8);
	}
	h4 {
		font-weight: normal;
		margin-bottom: rem(16);
		@include media-breakpoint-up(lg) {
			padding-left: rem(30);
		}
	}
	&__body-bg {
		position: absolute;
		z-index: 0;
		@include media-breakpoint-up(lg) {
			top: 0;
			right: 0;
			width: rem(590);
			height: rem(454);
		}
		@include media-breakpoint-down(lg) {
			top: 0;
			left: 0;
			width: 100%;
		}
		img {
			width: 100%;
			max-width: 100%;
		}
	}
	&__body-icon {
		@include media-breakpoint-up(lg) {
			right: rem(40);
		}
		position: absolute;
		@include media-breakpoint-down(lg) {
			left: rem(16);
		}
		width: rem(96);
		height: rem(96);
		top: rem(32);
		z-index: 1;
		img {
			width: 100%;
			max-width: 100%;
			height: 100%;
			max-height: 100%;
		}
	}
	&__caption {
		line-height: calc(24 / 16);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(44);
			max-width: 75.2%;
		}
		margin-bottom: rem(28);
	}
	.row {
		@include media-breakpoint-up(xl) {
			--bs-gutter-x: #{rem(50)};
		}
		--bs-gutter-x: #{rem(24)};
		--bs-gutter-y: #{rem(24)};
	}
	ul {
		list-style-type: none;
		margin-bottom: 0;
		position: relative;
		@include media-breakpoint-up(lg) {
			max-height: none !important;
			&::after {
				display: none;
			}
		}
		@include media-breakpoint-down(lg) {
			max-height: rem(217);
			overflow: hidden;
			padding-bottom: rem(60);
			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: rem(147);
				bottom: 0;
				left: 0;
				background: linear-gradient(180deg, rgba(255, 255, 255, 0) 1.7%, #ffffff 80.32%);
			}
		}
		li {
			padding-left: rem(36);
			position: relative;
			line-height: calc(24 / 16);
			font-weight: bold;
			margin-bottom: rem(24);
			&:last-child {
				margin-bottom: 0;
			}
			&::before {
				content: "";
				position: absolute;
				width: rem(30);
				height: rem(30);
				top: rem(-4);
				left: 0;
				background-repeat: no-repeat;
				background-size: contain;
				background-image: url("../img/svg/list-pic.svg");
			}
			ul {
				margin-left: rem(-30);
				margin-top: rem(20);
				@include media-breakpoint-down(lg) {
					max-height: none;
					overflow: unset;
					padding-bottom: 0;
					&::after {
						display: none;
					}
				}
				li {
					font-weight: normal;
					margin-bottom: rem(16);
					padding-left: rem(30);
					&:last-child {
						margin-bottom: 0;
					}
					&::before {
						background-image: none;
						background-color: $primary;
						width: rem(4);
						height: rem(4);
						border-radius: 50%;
						top: rem(10);
						left: rem(13);
					}
				}
			}
		}
	}
	ul.short {
		@include media-breakpoint-down(lg) {
			&::after {
				display: none !important;
			}
		}
	}
	ul.active {
		@include media-breakpoint-down(lg) {
			max-height: none;
			&::after {
				display: none;
			}
		}
	}
	&__show-text {
		@include media-breakpoint-up(lg) {
			display: none;
		}
		width: rem(189);
		height: rem(40);
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		z-index: 2;
		bottom: rem(8);
		left: 50%;
		transform: translateX(-50%);
		cursor: pointer;
		color: $primary;
		font-weight: 600;
		font-size: rem(14);
		line-height: calc(24 / 14);
		.icon {
			// transition-duration: 0.4s;
			color: transparent;
			stroke: $primary;
			stroke-width: 2px;
		}
	}
	&__show-text.active {
		.icon {
			transform: scaleY(-1);
		}
	}
	&--industries {
		&:last-child {
			margin-bottom: 0;
		}
		.solution-content__body {
			h4 {
				padding-left: 0 !important;
			}
		}
		.solution-content__caption {
			margin-bottom: rem(16) !important;
		}
		ul .row {
			@include media-breakpoint-up(lg) {
				padding-bottom: rem(54);
			}
		}
		.solution-content__show-text {
			display: flex !important;
			@include media-breakpoint-up(lg) {
				justify-content: flex-start;
				left: 0;
				transform: unset;
				width: 100%;
				border-top: 1px solid rgba($primary, 0.3);
			}
		}
		ul {
			@include media-breakpoint-up(lg) {
				max-height: rem(217) !important;
				overflow: hidden;
				padding-bottom: rem(60);
				position: relative;
				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: rem(147);
					bottom: 0;
					left: 0;
					background: linear-gradient(180deg, rgba(255, 255, 255, 0) 1.7%, #ffffff 60%);
					display: block !important;
				}
			}
			li {
				ul {
					@include media-breakpoint-up(lg) {
						max-height: none !important;
						overflow: unset;
						padding-bottom: 0;
						&::after {
							display: none !important;
						}
					}
				}
			}
		}
		ul.short {
			@include media-breakpoint-up(lg) {
				&::after {
					display: none !important;
				}
			}
		}
		ul.active {
			@include media-breakpoint-up(lg) {
				max-height: none !important;
				&::after {
					display: none !important;
				}
			}
		}
	}
	h3 {
		margin-bottom: rem(8);
	}
	&__projects {
		position: relative;
		@include media-breakpoint-up(lg) {
			margin-top: rem(40);
		}
		margin-top: rem(38);
		margin-bottom: rem(40);
		h3 {
			@include media-breakpoint-up(lg) {
				padding-left: rem(38);
				margin-bottom: rem(33);
				text-align: left;
			}
			text-align: center;
			margin-bottom: rem(24);
		}
	}
	&__projects-btns {
		position: absolute;
		display: flex;
		align-items: center;
		top: 0;
		right: rem(40);
		@include media-breakpoint-down(lg) {
			display: none;
		}
	}
}

.industries-slider {
	.swiper-pagination {
		@include media-breakpoint-up(lg) {
			display: none;
		}
		margin-top: rem(12);
		text-align: left;
	}
	&__item {
		@include media-breakpoint-up(lg) {
			width: calc(100% / 7 - 24px / 7);
			min-width: rem(167);
		}
		width: rem(167);
		margin-right: rem(4);
		background-color: #e8f3ff;
		height: rem(133);
		padding-top: rem(11);
		padding-left: rem(20);
		padding-right: rem(20);
		padding-bottom: rem(10);
		&:last-child {
			margin-right: 0;
		}
	}
	&__item-img {
		width: rem(53);
		height: rem(53);
		margin-bottom: rem(6);
		img {
			max-height: 100%;
			max-width: 100%;
		}
	}
	&__item-title {
		font-weight: 600;
		font-size: rem(13);
		line-height: calc(16 / 13);
	}
	.swiper-pagination-bullet {
		border: 1px solid transparent !important;
		background-color: rgba($primary, 0.3) !important;
	}
	.swiper-pagination-bullet-active {
		border: 1px solid #017aff !important;
		background-color: rgba($white, 0.5) !important;
	}
}

.sOneSolution {
	--sPT: 0;
	--sPB: 0;
	@include media-breakpoint-up(lg) {
		--sPB: #{rem(40)};
	}
	.container-xl {
		@include media-breakpoint-down(lg) {
			padding: 0;
		}
	}

	&__preview {
		background-color: $white;
		display: flex;
		flex-direction: column;
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(32);
			padding-top: rem(28);
			padding-bottom: rem(28);
			padding-left: rem(18);
			padding-right: rem(18);
			min-height: rem(552);
		}
		margin-bottom: rem(24);
		padding: rem(16);
		position: relative;
		h1 {
			@include media-breakpoint-up(lg) {
				max-width: 70.3%;
				font-size: 48px;
				padding-top: rem(37);
				padding-left: rem(14);
				// margin-bottom: rem(134);
			}
			font-size: 32px;
			padding-top: rem(377);
			margin-bottom: rem(32);
		}
	}
	&__preview > * {
		position: relative;
		z-index: 2;
	}
	&__body-bg {
		position: absolute;
		@include media-breakpoint-up(lg) {
			top: rem(-31);
			right: rem(20);
			width: rem(381);
			// height: rem(383);
			max-width: 31%;
		}
		@include media-breakpoint-up(xl) {
			right: rem(50);
		}

		@include media-breakpoint-down(lg) {
			top: rem(9);
			left: 50%;
			transform: translateX(-50%);
			width: rem(307);
			height: rem(309);
		}
		img {
			width: 100%;
			height: 100%;
			max-width: 100%;
			max-height: 100%;
		}
		z-index: 0;
	}
	&__preview-footer {
		@include media-breakpoint-up(lg) {
			margin-top: auto;
			h4 {
				padding-left: rem(28);
			}
		}
	}
	&__caption {
		@include media-breakpoint-up(lg) {
			font-size: rem(24);
			margin-bottom: rem(32);
		}
		font-size: rem(19);
		margin-bottom: rem(24);
		@include media-breakpoint-down(lg) {
			padding-left: rem(16);
			padding-right: rem(16);
		}
	}
	&__description-row {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: rem(24);
	}
	&__projects {
		position: relative;
		h3 {
			@include media-breakpoint-up(lg) {
				padding-left: rem(38);
				margin-bottom: rem(33);
				text-align: left;
			}
			text-align: center;
			margin-bottom: rem(24);
		}
	}

	&__projects {
		position: relative;
	}
	&__projects-btns {
		position: absolute;
		display: flex;
		align-items: center;
		top: 0;
		right: rem(40);
		@include media-breakpoint-down(lg) {
			display: none;
		}
	}
}

.description-item {
	@include media-breakpoint-up(lg) {
		width: 50%;
		min-height: rem(542);
		padding: rem(40);
	}
	@include media-breakpoint-down(lg) {
		padding-top: rem(24);
		padding-bottom: rem(32);
		padding-left: rem(16);
		padding-right: rem(16);
	}
	position: relative;
	width: 100%;
	@include media-breakpoint-up(lg) {
		&:nth-child(1) {
			background-color: $white;
		}
		&:nth-child(4) {
			background-color: $white;
		}
		&:nth-child(2) {
			background-color: #f8fafd;
		}
		&:nth-child(3) {
			background-color: #f8fafd;
		}
	}
	@include media-breakpoint-down(lg) {
		&:nth-child(1) {
			background-color: $white;
		}
		&:nth-child(3) {
			background-color: $white;
		}
		&:nth-child(2) {
			background-color: #f8fafd;
		}
		&:nth-child(4) {
			background-color: #f8fafd;
		}
	}
	&__title {
		@include media-breakpoint-up(lg) {
			font-size: rem(40);
			margin-bottom: rem(30);
		}
		font-size: rem(25);
		margin-bottom: rem(23);
		max-width: 74.5%;
	}
	&__img {
		width: rem(44);
		height: rem(40);
		position: absolute;
		@include media-breakpoint-up(lg) {
			top: rem(45);
			right: rem(40);
		}
		top: rem(29);
		right: rem(16);
		img {
			width: 100%;
			height: 100%;
			max-width: 100%;
			max-height: 100%;
		}
	}
	ul {
		margin-bottom: 0;
		list-style-type: none;
	}
	li {
		position: relative;
		padding-left: rem(32);
		margin-bottom: rem(16);
		&::after {
			content: "";
			position: absolute;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: $primary;
			left: rem(10);
			top: rem(10);
		}
	}
	&__caption {
		line-height: calc(24 / 16);
	}
}

.project-industry-slider-item {
	@include media-breakpoint-up(lg) {
		// width: calc(100% - 1px);
		height: rem(502);
		// margin-right: rem(6);
		padding: rem(16);
		padding-bottom: rem(48);
	}
	padding: rem(12);
	padding-bottom: rem(28);
	@include media-breakpoint-down(lg) {
		width: rem(328);
	}
	height: rem(645);
	background-color: $white;
	&:nth-child(odd) {
		background-color: $primary;
		color: $white;
		.project-slider-item__caption {
			color: rgba($white, 0.56);
		}
		.project-slider-item__btn {
			color: $white;
			border-color: $white;
		}
		// li {
		// 	&::before {
		// 		background-image: url("../img/svg/project-slider-list-1.svg");
		// 	}
		// }
	}
}

.project-slider-item {
	@include media-breakpoint-up(lg) {
		width: rem(360);
		height: rem(713);
		margin-right: rem(6);
	}
	&__bg {
		@include media-breakpoint-up(lg){
			margin-bottom: rem(30);
		}
		margin-bottom: 10px;
		width: 100%;
		height: 309px;
		img {
			max-width: 100%;
		}
	}
	&__body {
		@include media-breakpoint-up(lg) {
			padding: rem(16);
			padding-bottom: rem(48);
		}
		padding: rem(12);
		padding-bottom: rem(28);
	}
	width: rem(328);
	height: rem(645);
	background-color: $white;
	&:nth-child(odd) {
		background-color: $primary;
		color: $white;
		.project-slider-item__caption {
			color: rgba($white, 0.56);
		}
		.project-slider-item__btn {
			color: $white;
			border-color: $white;
		}
		li {
			&::before {
				background-image: url("../img/svg/project-slider-list-1.svg");
			}
		}
	}
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	&__logo {
		display: flex;
		align-items: center;
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(16);
		}
		margin-bottom: rem(8);
		picture {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			overflow: hidden;
			margin-right: 8px;
		}
	}
	&__title {
		font-size: rem(19);
		margin-bottom: rem(8);
	}
	&__caption {
		font-size: rem(12);
		color: #838990;
		margin-bottom: rem(18);
	}
	ul {
		margin-bottom: 0;
		list-style-type: none;
	}
	li {
		font-size: rem(12);
		margin-bottom: rem(20);
		padding-left: rem(38);
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: rem(32);
			height: rem(27);
			left: 0;
			top: rem(-5);
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url("../img/svg/project-slider-list-2.svg");
		}
	}
	&__btn {
		@extend .btn;
		width: 100%;
		border-color: $primary;
		color: $primary;
	}
}

.breadcrumb-wrap {
	padding-top: 8px;
	border-top: 1px solid #dee5ed;
	margin-bottom: rem(54);
	@include media-breakpoint-down(lg) {
		display: none;
	}
	.breadcrumb-item.active {
		a {
			color: #b4beca;
			pointer-events: none;
		}
	}
}
