mixin sSolutions(data)
	// start sSolutions
	+b.SECTION.sSolutions.section#sSolutions&attributes(attributes)
		.container-fluid
			h1 Решения
			+tabs-wrap(solutionTabs)
				.tabs__content.active
					p 1
				.tabs__content
					p 2
				.tabs__content
					p 3
				.tabs__content
					p 4
				.tabs__content
					p 5
				.tabs__content
					p 6
				.tabs__content
					p 7
	// end sSolutions