mixin sSolutions(data)
	// start sSolutions
	+b.SECTION.sSolutions.section#sSolutions&attributes(attributes)
		.container-xl
			h1 Решения
			+tabs-wrap(solutionTabs)
			+computing-inf
			+digital
			+info-security
			+import-sub
			+advanced-dir
			+services
			+industrial
	// end sSolutions

mixin solution-footer()
	h4 Отрасли
	+b.industries-slider.swiper
		.swiper-wrapper
			mixin item(img,title)
				+e.item.swiper-slide
					+e.item-img
						img(src=`img/svg/industries-slider-${img}.svg`, alt="")
					+e.item-title!=title
			+item(`1`,`Промышленность`)
			+item(`2`,`Торговые сети<br>(retail)`)
			+item(`3`,`Государственные структры`)
			+item(`4`,`Логистика`)
			+item(`5`,`Банки, Финансовые организации и Страхование`)
			+item(`6`,`Строительство и девелоперы`)
			+item(`7`,`Образование,<br>НИИ`)
		.swiper-pagination

mixin computing-inf()
	+b.solution-content#computing-inf
		+e.body
			h2 Вычислительная инфраструктура
			+e.body-bg
				img(src="img/svg/solution-bg-1.svg", alt="")
			+e.body-icon
				img(src="img/svg/solution-1.svg", alt="")
			+e.caption Комплекс взаимодействующих компьютерных систем, оргтехники, кабельных систем, внутренних и внешних телефонных линий. ИТ-инфраструктура обеспечивает повседневную деятельность производительных сил. 
			+e.list-wrap
				ul
					
					li Системы автоматизации<br>и управления
						ul
							li Проектирование и построение инженерной инфраструктуры центров
							li Обработки данных (ЦОД)
							li Периферийные центры обработки данных (Edge ЦОД)
							li Модульные центры обработки данных (МЦОД)
							li Мобильные центры обработки данных
							li Системы бесперебойного элктроснабжения
							li Водоснабжение
							li Системы контроля и управления досупом (СКУД)
							li Системы громкоговорящей связи и оповещения
							li Системы проводной и беспроводной голосовой связи
							li Системы холодоснабжения
				
					li Серверные решения
					li Системы Хранения Данных (классические и программно определяемые)
					li Гиперконвергентные решения
					li Системы резервного копирования
					li Решения по виртуализации
					li Построение вычислительных кластеров
					li Универсальная система для задач Искусственного Интеллекта (на базе DGX A100)
					li Частное облако
					li Гибридное облако
				
					li Контейнеры и микросервисы
					li Сети передачи данных
						ul
							li Унифицированное решение для автоматизации архитектуры и рабочих процессов сетей ЦОД - APSTRA
							li Программно-определяемые распределенные сети (SD-WAN)
							li Проводные (LAN) и беспроводные локальные сети (WLAN)
							li Структурированные кабельные сети (СКС)
					li Унифицированные коммуникации
						ul
							li IP телефония
							li Видеоконференцсвязь
				
					li Оборудование для рабочих мест
						ul
							li Виртуальное рабочее пространство (Virtual Desktop Infrastructure)
							li Сканнеры и кассовые аппараты
							li Терминалы сбора данных
							li Программно-аппаратные комплексы
							li Мобильные рабочие места
							li Оборудование для контакт-центров
							li Персональное рабочее место-импортозамещение (ПК+ОС+ПО+Периферия+БП)
							li Wokspace ONE
				+e.show-text
					span Показать решения
					+icon(`chevron-down`)
		+e.footer
			+solution-footer


mixin digital()
	+b.solution-content#digital
		+e.body
			h2 Цифровизация предприятий
			+e.body-bg
				img(src="img/svg/solution-bg-2.svg", alt="")
			+e.body-icon
				img(src="img/svg/solution-2.svg", alt="")
			+e.caption Это концепция нового цифрового пространства, единой системы, в которую интегрируются производственные станки, системы обеспечения жизнедеятельности и безопасности предприятия, то есть вся электроника организации 
			+e.list-wrap
				ul
				
					li Системы диспетчеризации и управления процессами (добыча и транспортировка, управление парком техники, управление персоналом, управление строительными работами и т.д.)
				
					li Система разработки и анализа нормативных документов и управления процессами
				
					li Мониторинг производительности приложений - Appdynamics
				
				+e.show-text
					span Показать решения
					+icon(`chevron-down`)
		+e.footer
			+solution-footer

mixin info-security()
	+b.solution-content#info-security
		+e.body
			h2 Информационная безопасность
			+e.body-bg
				img(src="img/svg/solution-bg-3.svg", alt="")
			+e.body-icon
				img(src="img/svg/solution-3.svg", alt="")
			+e.caption Сохранение и защита информации, а также ее важнейших элементов, в том числе системы и оборудование, предназначенные для использования, сбережения и передачи этой информации
			+e.list-wrap
				ul
					
					li: span Комплексная система мониторинга, защиты и предотвращения кибератак и утечки информации
				
					li: span Межсетевые экраны следующего поколения (NGFW)
				
					li: span Промышленная кибербезопасность
				
					li: span Безопасность сетевых сервисов
				+e.show-text
					span Показать решения
					+icon(`chevron-down`)
		+e.footer
			+solution-footer

mixin import-sub()
	+b.solution-content#import-sub
		+e.body
			h2 Импортозамещение
			+e.body-bg
				img(src="img/svg/solution-bg-4.svg", alt="")
			+e.body-icon
				img(src="img/svg/solution-4.svg", alt="")
			+e.caption Замещение импорта товарами, произведёнными внутри страны. Для замещения импорта национальными товарами могут быть использованы протекционистские методы регулирования: тарифные и нетарифные 
			+e.list-wrap.variant-2
				ul
					
					li Коммутаторы для импортозамещения (Open Switch + Astra Linux)
				
					li Персональное рабочее место (ПК+ОС+ПО+Периферия+БП)
				
					li Импортозамещение ПО для рабочих мест (Мой офис)
				
				+e.show-text
					span Показать решения
					+icon(`chevron-down`)
		+e.footer
			+solution-footer

mixin advanced-dir()
	+b.solution-content#advanced-dir
		+e.body
			h2 Передовые направления (будущее)
			+e.body-bg
				img(src="img/svg/solution-bg-5.svg", alt="")
			+e.body-icon
				img(src="img/svg/solution-5.svg", alt="")
			+e.caption Комплекс взаимодействующих компьютерных систем, оргтехники, кабельных систем, внутренних и внешних телефонных линий.
			+e.list-wrap
				ul.short
					
					li Искусственный Интеллект и машинное обучение (AI, ML)
				
					li Цифровой двойник предприятия - (BIM)
						
					
		+e.footer
			+solution-footer

mixin services()
	+b.solution-content#services
		+e.body
			h2 Услуги
			+e.body-bg
				img(src="img/svg/solution-bg-6.svg", alt="")
			+e.body-icon
				img(src="img/svg/solution-6.svg", alt="")
			+e.caption Обслуживание и техническая поддержка ИТ-инфраструктуры. Обслуживание и техническая поддержка инженерной инфраструктуры. Ремонт, модернизация измерительной техники
			+e.list-wrap
				ul
					
					li Сервис
						ul 
							li Обслуживание и техническая поддержка ИТ-инфраструктуры
							li Обслуживание и техническая поддержка инженерной инфраструктуры
							li Обучение
							li Аренда оборудования
							li Ремонт, модернизация измерительной техники
				
					li Аудит ИТ-инфраструктуры
					li Разработка и проектирование ИТ- инфраструктуры
				
					li Радиопланирование и проектирование беспроводных локальных сетей (Wi-Fi)
					li Консалтинг
				
					li Внедрение и сервисная поддержка
				+e.show-text
					span Показать решения
					+icon(`chevron-down`)
		+e.footer
			+solution-footer

mixin industrial()
	+b.solution-content#industrial
		+e.body
			h2 Промышленная автоматизация
			+e.body-bg
				img(src="img/svg/solution-bg-7.svg", alt="")
			+e.body-icon
				img(src="img/svg/solution-7.svg", alt="")
			+e.caption Одно из направлений научно-технического прогресса, использующее саморегулирующие технические средства и математические методы с целью освобождения человека от участия в процессах получения, преобразования, передачи и использования энергии
			+e.list-wrap
				ul
					
					li Услуги для промышленности
						ul
							li Проведение обследования на объекте
							li Главгосэксперты
							li Разработка и проектирование систем
							li Внедрение, строительно- монтажные и шеф-монтажные работы, пусконаладочные работы
							li Обучение персонала заазчика и консалтинг
							li Гарантийное и сервисное обслуживание
							li Радиопланирование и проектирование беспроводных локальных сетей (Wi-Fi)
							li Аутсорсинговая аналитика данных полученых из системы
				
					li Системы автоматизации и управления
						ul
							li Автоматизированные системы управления технологическими процессами (АСУТП)
							li Автоматизированные системы оперативно-диспетчерского управления (АСОДУ)
							li Автоматизированные системы коммерческого и технического учета энергоресурсов (АСКУЭ, АСТУЭ)
							li Системы резервуарного учета
							li Системы дозированного ввода присадок
							li Системы диспетчеризации и управления процессами (добыча и транспортировка, управление парком техники, управление персоналом, управление строительными работами и т.д.)
				
					li Решения по безопасности для промышленности
						ul
							li Позиционирование (определение местоположения)
							li Аварийное оповещение и персональный вызов
							li Системы помощи водителю в т.ч. предупреждения и предотвращения столкновений
							li Видео-аналитика
							li Поиск и обнаружение людей под завалами
							li Системы сбора телеметрических данных с подвижной техники
				
					li Связь для промышленности
						ul
							li Проводная телефонная связь
							li Системы громкоговорящей связи и оповещений
							li Мобильная VoIP связь
							li Видео-аналитика
							li Системы сбора телеметрических данных с подвижной техники
				+e.show-text
					span Показать решения
					+icon(`chevron-down`)
		+e.footer
			+solution-footer
		
mixin sOneSolution
	+b.sOneSolution.section
		.breadcrumb-block
			.container-xl
				+b.breadcrumb-wrap
					+breadcrumb(`Главная`,`Решения`,`Системы Хранения Данных (классические и программно определяемые)`)
			+e.preview.bg-wrap
				+e.body-bg
					img(src="img/svg/solution-bg-1.svg", alt="")
				h1 Системы Хранения Данных (классические и программно определяемые)
				+e.preview-footer
					+solution-footer
			+e.caption Комплекс взаимодействующих компьютерных систем, оргтехники, кабельных систем, внутренних и внешних телефонных линий. ИТ-инфраструктура обеспечивает повседневную деятельность производительных сил.
			+e.description-row
				+description-item(`1`,`Из чего состоит решение`,`list`)
				+description-item(`2`,`Где применяется решение`,`no`,`Создание отчетности анализа компании, консолидации ресурсов, с помощью чего возрастает спрос, оптимальные для монетизирования в стойку. Увеличивают спроса на блейд-серверы, оптимизированные под задачи виртуализации, снижения энергопотребления.`)
				+description-item(`3`,`Какую задачу выполняет`,`no`,`Система хранения данных выделяется за счет того, что благодаря интеллектуальному использованию методов, которые взаимодействуют с помощью вычислений к проектированию систем хранения, функция сохранения направляется из аппаратной основы на  программный уровень. Таким образом, составляется заданная система, сохраняющая зафиксированные свойства не относя к определенными параметрам оборудования, что способствуют упрощению работы компании.<br>С помощью данного решения осуществится возможность работать на стандартных серверах с x86-процессорами, увеличивается уровень эффективного использования существующего пространства, также производительность целома. Мы воздействуем на  уменьшение затрат на управление.  Оперативность и слаженность предприятию, функционирующему на основе данных.`)
				+description-item(`4`,`В чем польза решения`,`no`,`Благодаря Системе Хранения Данных значительно уменьшается размер использования в ИТ-инфраструктуре подсистем хранения данных.`)
			+e.projects
				+e.projects-slider.swiper
					h3 Проекты
					.swiper-wrapper
						+b.project-slider-item.swiper-slide
							+e.bg
								img(src="img/svg/project-slider-item-1.svg", alt="")
							+e.body
								+e.logo
									+pic(`project-slider-logo-1.png`,'',0)
									span Роскосмос
								+e.title Поставка персональных систем производства и МФУ HP
								+e.caption Вычислительная инфраструктура, Цифровизация предприятий
								ul
									li Оптимизировать «бумажные» потоки в компании
									li Минимизация потребления электроэнергии
									li Увеличение эффективности для обеспечения уровня необходимой производительности
								+e.btn(href="#") Читать отзыв заказчика
						+b.project-slider-item.swiper-slide
							+e.bg
								img(src="img/svg/project-slider-item-2.svg", alt="")
							+e.body
								+e.logo
									+pic(`project-slider-logo-2.png`,'',0)
									span Промтех
								+e.title Поставка персональных систем производства HP
								+e.caption Поставка персональных систем производства HP
								ul
									li Увеличение эффективности для обеспечения уровня необходимой производительности
									li Минимизация потребления электроэнергии
								+e.btn(href="#") Читать отзыв заказчика
						+b.project-slider-item.swiper-slide
							+e.bg
								img(src="img/svg/project-slider-item-3.svg", alt="")
							+e.body
								+e.logo
									+pic(`project-slider-logo-3.png`,'',0)
									span Росатом
								+e.title Поставка компьютерного оборудования производства HP
								+e.caption Вычислительная инфраструктура
								ul
									li Увеличение эффективности для обеспечения уровня необходимой производительности
									li Минимизация потребления электроэнергии
								+e.btn(href="#") Читать отзыв заказчика
						+b.project-slider-item.swiper-slide
							+e.bg
								img(src="img/svg/project-slider-item-2.svg", alt="")
							+e.body
								+e.logo
									+pic(`project-slider-logo-4.png`,'',0)
									span ДельтаКредит
								+e.title Поставка лицензий Oracle
								+e.caption Вычислительная инфраструктура, Цифровизация предприятий
								ul
									li Быстрый заказ лицензий на продление, этим мы избежали увеличения стоимости лицензий для Заказчика
									li Беспрерывное оказание услуг сервисной поддержки компанией Oracle
								+e.btn(href="#") Читать отзыв заказчика
					+e.projects-btns
						+arrow



mixin description-item(img,title,list,caption)
	+b.description-item
		+e.title!=title
		+e.img
			img(src=`img/svg/description-item-${img}.svg`, alt="")
		if (list==`list`)
			ul
				li Блочное хранилище
				li Файловое хранилище
				li Объектное хранилище
		else
			+e.caption!=caption


mixin sSolutionPrev()
	+b.sSolutionPrev
		+e.btn.btn.btn-outline-primary(href="#") Вернуться ко всем решениям