
@mixin mt2($s: .36s) {
	--speed: #{$s};
  transition: all var(--speed) ease-in-out;
}
:root{

	--speed: 3s;
}
.belaz-1{
	// display: none;
	transform: translate(200px,-200px);
	opacity: 0;
	
}

.tr-center{

	transform-origin: center center;
}
.circle-2{
	transform-origin: center center;
	opacity: 0;
	// position: absolute;
	&:nth-child(4),
	&:nth-child(2) {
	 

		// transform: rotate(2deg);
		// transform:  skewX(-35deg);
	}
							// &:nth-child(2),
							// &:nth-child(3) {
							// 	display: none;
							// }
}

.line-with-circle{
	position: relative;
}

.line-3{
	opacity: 0;
}

.monitor-4{

}
.circle-7,
.screen-7,
.box-6,
.circle-5 {
	opacity: 0;
}

.excavator-8{
	// transform: translate(16px, -3px);
}
.circle-7--1, .circle-7--3{
	opacity: 0;
}

.hand-11{
	transform-origin: center center;
	// transform: rotate(-84deg) translateX(384px) translateY(-4px);
}
.hand-12{ 
	transform: rotate(-41deg) translate(-187px, 186px);
}