
@mixin mt2($s: .36s) {
	--speed: #{$s};
  transition: all var(--speed) ease-in-out;
}
:root{

	--speed: 3s;
}
#belaz-1{
	// display: none;
	transform: translate(150px,-150px);
	opacity: 0;
	
}
// .st928{
// 	opacity: 0.2;
// }
.st929{
	opacity: 0;
}

.tr-center{

	transform-origin: center center;
}
#circle-2_3_{
	transform-origin: center center;
	opacity: 0;
	
}
#circle-2_3_1{
	opacity: 0;	

}

.line-with-circle{
	position: relative;
}
.st0-3,
.line-3{
	opacity: 0;
}

.monitor-4{

}
.circle-7,
.screen-7,
.box-6,
.circle-5 {
	opacity: 0;
}

.excavator-8{
	// transform: translate(16px, -3px);
}
// [id^="circle-15"],
#text-18,
#line-19,
[id^="circle-12"],
[id^="circle-11"],
#screen-7--right,
#screen-7--left,
#box-6--1,
#box-6--2,
#box-6--3,
#box-6--4,
#circle-5--1,
#circle-5--2,
#circle-5--3,
#circle-7--1, #circle-7--3,
#circle-7--2, #circle-7--4{
	opacity: 0;
	// will-change: transform; 
}

.hand-11{
	// transform-origin: center center;
	// transform: rotate(-84deg) translateX(384px) translateY(-4px);
}
.hand-12{ 
	// transform: rotate(-41deg) translate(-187px, 186px);
}

#granuly, #granuly_1_, #granuly_2_,  #granuly_3_{
	opacity: 0;
}

#circle-15--7,
#circle-15--8{
	// display: none;
	transform: translate(-61px,-50px);
}

#circle-15--2{
	// transform-origin: center center !important;
	// opacity: 0;
}
#circle-15--5,
#circle-15--1{
	opacity: 0;
}
[id^="circle-15"]{
	// transform-origin: center center;
	// opacity: 0;
}
#shield-18,
#dots-19,
#el-17--1,
#el-17--2,
#circle-16--1{
	opacity: 0;
}
[id^="circle-16"]{
	transform-origin: center center;


	// skewX(31deg) translate(-85px, 65px)
}
 
  #head-svg {
    // shape-rendering: optimizeSpeed;
  } 

	.step-2, 
	.step-3, 
	.step-4{
		opacity: 0;
	} 
	
	#line-19{
		opacity: 1;
		stroke-dasharray: 100 100;
	}
	#Linediagramm,
	#Line_2,
	#Line_1{
		
		stroke-dasharray: 100 100;
	}
	// #Circlechart_2,
	#Chart_6,
	#Chart_1{
		opacity: 0 !important;
	}
	
	#Signal,
	#Circlechart_2,
	#dashboard{
		opacity: 0;
	}
	#strokeDashoffset,
	#Linediagramm{
		// stroke-dashoffset: -70;
	}
	#text1 .st19{
		opacity: 0;
	}


	#diagram1,
	#diagram2{
		opacity: 0;
	}
	// #_x35__screen,
	// #_x33__screen,
	// #screen-modal,
	#click,
	#screen-modal-1,
	#screen-modal-2,
#basket-1,
#basket-2
	{
		opacity: 0;

	}