mixin sIndustries(data)
	// start sIndusries
	+b.SECTION.sIndustries.section#sIndusries&attributes(attributes)
		.container-xl
			+e.header
				h1 Отрасли DClogic
				+tabs-wrap(industriesTabs)
			+e.body
				+industry
				+retail
				+state
				+logistics
				+banks
				+construction
				+study
	// end sIndusries

mixin industry
	+b.solution-content--industries#industry
		+e.body
			h2 Цифровизация предприятий
			+e.body-icon
				img(src="img/svg/industries-slider-1.svg", alt="")
			+e.caption Цифровизация предприятий, передовые направления, услуги, информационная безопасность, автоматизация, импортозамещение, вычислительная инфраструктура
			h3 Горнодобывающая промышленность
			+e.caption Сложно сказать, почему стремящиеся вытеснить традиционное производство, нанотехнологии призывают нас к новым свершениям, которые, в свою очередь, должны быть в равной степени предоставлены сами себе. 
			h4 Решения
			ul
				.row
					.col-lg-3
						li Системы автоматизации и управления
							ul
								li Автоматизированные системы управления технологическими процессами (АСУТП)
								li Автоматизированные системы оперативно диспетчерского управления (АСОДУ)
								li Автоматизированные системы коммерческого и технического учета энергоресурсов (АСКУЭ, АСТУЭ)
								li Системы диспетчеризации и управления процессами (добыча и транспортировка, управление парком техники, управление персоналом, управление строительными работами и т.д.)
					.col-lg-3
						li Сети передачи данных
							ul
								li Проводные (LAN) и беспроводные локальные сети (WLAN)
						li Связь для промышленности
							ul
								li Проводная телефонная связь
								li Системы громкоговорящей связи и оповещения
								li Мобильная VoIP связь
						li Вычислительная инфраструктура
							ul
								li Серверные решения
								li Системы Хранения Данных (классические и программно-определяемые)
					.col-lg-3
						li Решения по безопасности для промышленности
							ul
								li Позиционирование (определение местоположения)
								li Аварийное оповещение и персональный вызов
								li Системы помощи водителю в т.ч. предупреждения и предотвращения столкновений
								li Видео-аналитика
								li Поиск и обнаружение людей под завалами
								li Системы сбора телеметрических данных с подвижной техники
					.col-lg-3
						li Инженерная инфраструктура
							ul 
								li Периферийные центры обработки данных (Edge ЦОД)
								li Системы контроля и управления доступом (СКУД)
								li Структурированные кабельные сети (СКС)
				+e.show-text
					span Показать решения
					+icon(`chevron-down`)
			+e.projects
				+e.projects-slider.swiper
					h3 Проекты
					.swiper-wrapper
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
					+e.projects-btns
						+arrow
			h3 Металлургия
			+e.caption Кстати, ключевые особенности структуры проекта представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть превращены в посмешище, хотя само их существование приносит несомненную пользу обществу.
			ul
				.row
					.col-lg-3
						li Системы автоматизации и управления
							ul
								li Автоматизированные системы управления технологическими процессами (АСУТП)
								li Автоматизированные системы оперативно диспетчерского управления (АСОДУ)
								li Автоматизированные системы коммерческого и технического учета энергоресурсов (АСКУЭ, АСТУЭ)
								li Системы диспетчеризации и управления процессами (добыча и транспортировка, управление парком техники, управление персоналом, управление строительными работами и т.д.)
					.col-lg-3
						li Сети передачи данных
							ul
								li Проводные (LAN) и беспроводные локальные сети (WLAN)
						li Связь для промышленности
							ul
								li Проводная телефонная связь
								li Системы громкоговорящей связи и оповещения
								li Мобильная VoIP связь
						li Вычислительная инфраструктура
							ul
								li Серверные решения
								li Системы Хранения Данных (классические и программно-определяемые)
					.col-lg-3
						li Решения по безопасности для промышленности
							ul
								li Позиционирование (определение местоположения)
								li Аварийное оповещение и персональный вызов
								li Системы помощи водителю в т.ч. предупреждения и предотвращения столкновений
								li Видео-аналитика
								li Поиск и обнаружение людей под завалами
								li Системы сбора телеметрических данных с подвижной техники
					.col-lg-3
						li Инженерная инфраструктура
							ul 
								li Периферийные центры обработки данных (Edge ЦОД)
								li Системы контроля и управления доступом (СКУД)
								li Структурированные кабельные сети (СКС)
				+e.show-text
					span Показать решения
					+icon(`chevron-down`)
			+e.projects
				+e.projects-slider.swiper
					h3 Проекты
					.swiper-wrapper
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
					+e.projects-btns
						+arrow
			h3 Химическая и нефтехимическая промышленность
			+e.caption Также как граница обучения кадров позволяет выполнить важные задания по разработке соответствующих условий активизации. Есть над чем задуматься: непосредственные участники технического прогресса разоблачены.
			ul
				.row
					.col-lg-3
						li Системы автоматизации и управления
							ul
								li Автоматизированные системы управления технологическими процессами (АСУТП)
								li Автоматизированные системы оперативно диспетчерского управления (АСОДУ)
								li Автоматизированные системы коммерческого и технического учета энергоресурсов (АСКУЭ, АСТУЭ)
								li Системы диспетчеризации и управления процессами (добыча и транспортировка, управление парком техники, управление персоналом, управление строительными работами и т.д.)
					.col-lg-3
						li Сети передачи данных
							ul
								li Проводные (LAN) и беспроводные локальные сети (WLAN)
						li Связь для промышленности
							ul
								li Проводная телефонная связь
								li Системы громкоговорящей связи и оповещения
								li Мобильная VoIP связь
						li Вычислительная инфраструктура
							ul
								li Серверные решения
								li Системы Хранения Данных (классические и программно-определяемые)
					.col-lg-3
						li Решения по безопасности для промышленности
							ul
								li Позиционирование (определение местоположения)
								li Аварийное оповещение и персональный вызов
								li Системы помощи водителю в т.ч. предупреждения и предотвращения столкновений
								li Видео-аналитика
								li Поиск и обнаружение людей под завалами
								li Системы сбора телеметрических данных с подвижной техники
					.col-lg-3
						li Инженерная инфраструктура
							ul 
								li Периферийные центры обработки данных (Edge ЦОД)
								li Системы контроля и управления доступом (СКУД)
								li Структурированные кабельные сети (СКС)
				+e.show-text
					span Показать решения
					+icon(`chevron-down`)
			+e.projects
				+e.projects-slider.swiper
					h3 Проекты
					.swiper-wrapper
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
					+e.projects-btns
						+arrow
			h3 Энергетика
			+e.caption Но действия представителей оппозиции неоднозначны и будут заблокированы в рамках своих собственных рациональных ограничений. Разбавленное изрядной долей эмпатии, рациональное мышление позволяет выполнить важные задания по разработке дальнейших направлений развития.
			ul
				.row
					.col-lg-3
						li Системы автоматизации и управления
							ul
								li Автоматизированные системы управления технологическими процессами (АСУТП)
								li Автоматизированные системы оперативно диспетчерского управления (АСОДУ)
								li Автоматизированные системы коммерческого и технического учета энергоресурсов (АСКУЭ, АСТУЭ)
								li Системы диспетчеризации и управления процессами (добыча и транспортировка, управление парком техники, управление персоналом, управление строительными работами и т.д.)
					.col-lg-3
						li Сети передачи данных
							ul
								li Проводные (LAN) и беспроводные локальные сети (WLAN)
						li Связь для промышленности
							ul
								li Проводная телефонная связь
								li Системы громкоговорящей связи и оповещения
								li Мобильная VoIP связь
						li Вычислительная инфраструктура
							ul
								li Серверные решения
								li Системы Хранения Данных (классические и программно-определяемые)
					.col-lg-3
						li Решения по безопасности для промышленности
							ul
								li Позиционирование (определение местоположения)
								li Аварийное оповещение и персональный вызов
								li Системы помощи водителю в т.ч. предупреждения и предотвращения столкновений
								li Видео-аналитика
								li Поиск и обнаружение людей под завалами
								li Системы сбора телеметрических данных с подвижной техники
					.col-lg-3
						li Инженерная инфраструктура
							ul 
								li Периферийные центры обработки данных (Edge ЦОД)
								li Системы контроля и управления доступом (СКУД)
								li Структурированные кабельные сети (СКС)
				+e.show-text
					span Показать решения
					+icon(`chevron-down`)
			+e.projects
				+e.projects-slider.swiper
					h3 Проекты
					.swiper-wrapper
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
					+e.projects-btns
						+arrow
			h3 Морские порты, склады, транспортные терминалы, аэропорты
			+e.caption Но тщательные исследования конкурентов могут быть объединены в целые кластеры себе подобных. Предварительные выводы неутешительны: сплочённость команды профессионалов играет определяющее значение для кластеризации усилий.
			ul
				.row
					.col-lg-3
						li Системы автоматизации и управления
							ul
								li Автоматизированные системы управления технологическими процессами (АСУТП)
								li Автоматизированные системы оперативно диспетчерского управления (АСОДУ)
								li Автоматизированные системы коммерческого и технического учета энергоресурсов (АСКУЭ, АСТУЭ)
								li Системы диспетчеризации и управления процессами (добыча и транспортировка, управление парком техники, управление персоналом, управление строительными работами и т.д.)
					.col-lg-3
						li Сети передачи данных
							ul
								li Проводные (LAN) и беспроводные локальные сети (WLAN)
						li Связь для промышленности
							ul
								li Проводная телефонная связь
								li Системы громкоговорящей связи и оповещения
								li Мобильная VoIP связь
						li Вычислительная инфраструктура
							ul
								li Серверные решения
								li Системы Хранения Данных (классические и программно-определяемые)
					.col-lg-3
						li Решения по безопасности для промышленности
							ul
								li Позиционирование (определение местоположения)
								li Аварийное оповещение и персональный вызов
								li Системы помощи водителю в т.ч. предупреждения и предотвращения столкновений
								li Видео-аналитика
								li Поиск и обнаружение людей под завалами
								li Системы сбора телеметрических данных с подвижной техники
					.col-lg-3
						li Инженерная инфраструктура
							ul 
								li Периферийные центры обработки данных (Edge ЦОД)
								li Системы контроля и управления доступом (СКУД)
								li Структурированные кабельные сети (СКС)
				+e.show-text
					span Показать решения
					+icon(`chevron-down`)
			+e.projects
				+e.projects-slider.swiper
					h3 Проекты
					.swiper-wrapper
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
					+e.projects-btns
						+arrow
			h3 Агропромышленный комплекс
			+e.caption Цифровизация предприятий, передовые направления, услуги, информационная безопасность, автоматизация, импортозамещение, вычислительная инфраструктура
			ul
				.row
					.col-lg-3
						li Системы автоматизации и управления
							ul
								li Автоматизированные системы управления технологическими процессами (АСУТП)
								li Автоматизированные системы оперативно диспетчерского управления (АСОДУ)
								li Автоматизированные системы коммерческого и технического учета энергоресурсов (АСКУЭ, АСТУЭ)
								li Системы диспетчеризации и управления процессами (добыча и транспортировка, управление парком техники, управление персоналом, управление строительными работами и т.д.)
					.col-lg-3
						li Сети передачи данных
							ul
								li Проводные (LAN) и беспроводные локальные сети (WLAN)
						li Связь для промышленности
							ul
								li Проводная телефонная связь
								li Системы громкоговорящей связи и оповещения
								li Мобильная VoIP связь
						li Вычислительная инфраструктура
							ul
								li Серверные решения
								li Системы Хранения Данных (классические и программно-определяемые)
					.col-lg-3
						li Решения по безопасности для промышленности
							ul
								li Позиционирование (определение местоположения)
								li Аварийное оповещение и персональный вызов
								li Системы помощи водителю в т.ч. предупреждения и предотвращения столкновений
								li Видео-аналитика
								li Поиск и обнаружение людей под завалами
								li Системы сбора телеметрических данных с подвижной техники
					.col-lg-3
						li Инженерная инфраструктура
							ul 
								li Периферийные центры обработки данных (Edge ЦОД)
								li Системы контроля и управления доступом (СКУД)
								li Структурированные кабельные сети (СКС)
				+e.show-text
					span Показать решения
					+icon(`chevron-down`)
			+e.projects
				+e.projects-slider.swiper
					h3 Проекты
					.swiper-wrapper
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
					+e.projects-btns
						+arrow

mixin retail()
	+b.solution-content--industries#retail
		+e.body
			h2 Торговые сети (retail)
			+e.body-icon
				img(src="img/svg/industries-slider-2.svg", alt="")
			+e.caption Цифровизация предприятий, передовые направления, услуги, информационная безопасность, автоматизация, импортозамещение, вычислительная инфраструктура.
			h4 Решения
			ul
				.row
					.col-lg-3
						li Вычислительная инфраструктура
							ul
								li Системы Хранения Данных (классические и программно определяемые)
								li Автоматизированные системы оперативно диспетчерского управления (АСОДУ)
					.col-lg-3
						li Сети передачи данных
							ul
								li Проводные (LAN) и беспроводные локальные сети (WLAN)
								li Проводная телефонная связь
					.col-lg-3
						li Оборудование для рабочих мест
							ul
								li Позиционирование (определение местоположения)
								li Аварийное оповещение и персональный вызов
					.col-lg-3
						li Инженерная инфраструктура
							ul 
								li Периферийные центры обработки данных (Edge ЦОД)
								li Системы контроля и управления доступом (СКУД)
								li Структурированные кабельные сети (СКС)
				+e.show-text
					span Показать решения
					+icon(`chevron-down`)
			+e.projects
				+e.projects-slider.swiper
					h3 Проекты
					.swiper-wrapper
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
					+e.projects-btns
						+arrow

mixin state()
	+b.solution-content--industries#state
		+e.body
			h2 Государственные структуры
			+e.body-icon
				img(src="img/svg/industries-slider-3.svg", alt="")
			+e.caption Таким образом, граница обучения кадров представляет собой интересный эксперимент проверки новых предложений. 
			h4 Решения
			ul
				.row
					.col-lg-3
						li Вычислительная инфраструктура
							ul
								li Системы Хранения Данных (классические и программно определяемые)
								li Автоматизированные системы оперативно диспетчерского управления (АСОДУ)
					.col-lg-3
						li Сети передачи данных
							ul
								li Проводные (LAN) и беспроводные локальные сети (WLAN)
								li Проводная телефонная связь
					.col-lg-3
						li Оборудование для рабочих мест
							ul
								li Позиционирование (определение местоположения)
								li Аварийное оповещение и персональный вызов
					.col-lg-3
						li Инженерная инфраструктура
							ul 
								li Периферийные центры обработки данных (Edge ЦОД)
								li Системы контроля и управления доступом (СКУД)
								li Структурированные кабельные сети (СКС)
				+e.show-text
					span Показать решения
					+icon(`chevron-down`)
			+e.projects
				+e.projects-slider.swiper
					h3 Проекты
					.swiper-wrapper
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
					+e.projects-btns
						+arrow

mixin logistics()
	+b.solution-content--industries#logistics
		+e.body
			h2 Логискика
			+e.body-icon
				img(src="img/svg/industries-slider-4.svg", alt="")
			+e.caption Цифровизация предприятий, передовые направления, услуги, информационная безопасность, автоматизация, импортозамещение, вычислительная инфраструктура.
			h4 Решения
			ul
				.row
					.col-lg-3
						li Вычислительная инфраструктура
							ul
								li Системы Хранения Данных (классические и программно определяемые)
								li Автоматизированные системы оперативно диспетчерского управления (АСОДУ)
					.col-lg-3
						li Сети передачи данных
							ul
								li Проводные (LAN) и беспроводные локальные сети (WLAN)
								li Проводная телефонная связь
					.col-lg-3
						li Оборудование для рабочих мест
							ul
								li Позиционирование (определение местоположения)
								li Аварийное оповещение и персональный вызов
					.col-lg-3
						li Инженерная инфраструктура
							ul 
								li Периферийные центры обработки данных (Edge ЦОД)
								li Системы контроля и управления доступом (СКУД)
								li Структурированные кабельные сети (СКС)
				+e.show-text
					span Показать решения
					+icon(`chevron-down`)
			+e.projects
				+e.projects-slider.swiper
					h3 Проекты
					.swiper-wrapper
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
					+e.projects-btns
						+arrow

mixin banks()
	+b.solution-content--industries#banks
		+e.body
			h2 Банки, Финансовые организации и Страхование
			+e.body-icon
				img(src="img/svg/industries-slider-5.svg", alt="")
			+e.caption В частности, курс на социально-ориентированный национальный проект требует анализа кластеризации усилий.
			h4 Решения
			ul
				.row
					.col-lg-3
						li Вычислительная инфраструктура
							ul
								li Системы Хранения Данных (классические и программно определяемые)
								li Автоматизированные системы оперативно диспетчерского управления (АСОДУ)
					.col-lg-3
						li Сети передачи данных
							ul
								li Проводные (LAN) и беспроводные локальные сети (WLAN)
								li Проводная телефонная связь
					.col-lg-3
						li Оборудование для рабочих мест
							ul
								li Позиционирование (определение местоположения)
								li Аварийное оповещение и персональный вызов
					.col-lg-3
						li Инженерная инфраструктура
							ul 
								li Периферийные центры обработки данных (Edge ЦОД)
								li Системы контроля и управления доступом (СКУД)
								li Структурированные кабельные сети (СКС)
				+e.show-text
					span Показать решения
					+icon(`chevron-down`)
			+e.projects
				+e.projects-slider.swiper
					h3 Проекты
					.swiper-wrapper
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
					+e.projects-btns
						+arrow

mixin construction()
	+b.solution-content--industries#construction
		+e.body
			h2 Строительство, девелоперы
			+e.body-icon
				img(src="img/svg/industries-slider-6.svg", alt="")
			+e.caption Цифровизация предприятий, передовые направления, услуги, информационная безопасность, автоматизация, импортозамещение, вычислительная инфраструктура.
			h4 Решения
			ul
				.row
					.col-lg-3
						li Вычислительная инфраструктура
							ul
								li Системы Хранения Данных (классические и программно определяемые)
								li Автоматизированные системы оперативно диспетчерского управления (АСОДУ)
					.col-lg-3
						li Сети передачи данных
							ul
								li Проводные (LAN) и беспроводные локальные сети (WLAN)
								li Проводная телефонная связь
					.col-lg-3
						li Оборудование для рабочих мест
							ul
								li Позиционирование (определение местоположения)
								li Аварийное оповещение и персональный вызов
					.col-lg-3
						li Инженерная инфраструктура
							ul 
								li Периферийные центры обработки данных (Edge ЦОД)
								li Системы контроля и управления доступом (СКУД)
								li Структурированные кабельные сети (СКС)
				+e.show-text
					span Показать решения
					+icon(`chevron-down`)
			+e.projects
				+e.projects-slider.swiper
					h3 Проекты
					.swiper-wrapper
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
					+e.projects-btns
						+arrow

mixin study()
	+b.solution-content--industries#study
		+e.body
			h2 Образование, НИИ
			+e.body-icon
				img(src="img/svg/industries-slider-7.svg", alt="")
			+e.caption Цифровизация предприятий, передовые направления, услуги, информационная безопасность, автоматизация, импортозамещение, вычислительная инфраструктура.
			h4 Решения
			ul
				.row
					.col-lg-3
						li Вычислительная инфраструктура
							ul
								li Системы Хранения Данных (классические и программно определяемые)
								li Автоматизированные системы оперативно диспетчерского управления (АСОДУ)
					.col-lg-3
						li Сети передачи данных
							ul
								li Проводные (LAN) и беспроводные локальные сети (WLAN)
								li Проводная телефонная связь
					.col-lg-3
						li Оборудование для рабочих мест
							ul
								li Позиционирование (определение местоположения)
								li Аварийное оповещение и персональный вызов
					.col-lg-3
						li Инженерная инфраструктура
							ul 
								li Периферийные центры обработки данных (Edge ЦОД)
								li Системы контроля и управления доступом (СКУД)
								li Структурированные кабельные сети (СКС)
				+e.show-text
					span Показать решения
					+icon(`chevron-down`)
			+e.projects
				+e.projects-slider.swiper
					h3 Проекты
					.swiper-wrapper
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
						+b.project-industry-slider-item.swiper-slide
					+e.projects-btns
						+arrow