mixin sIndustries(data)
	// start sIndusries
	+b.SECTION.sIndusries.section#sIndusries&attributes(attributes)
		.container-xl
			+e.header
				h1 Отрасли DClogic
				+tabs-wrap(industriesTabs)
	// end sIndusries