// start .sIndusries
.sIndustries {
	--sPT: 0;
	--sPB: #{rem(40)};
	// --sTPB: ;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(64)};
	}
	&__header {
		@include media-breakpoint-up(lg) {
			padding-top: rem(56);
			border-top: 1px solid #dee5ed;
		}
		padding-top: rem(24);
	}
	h1 {
		text-align: center;
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(40);
		}
		margin-bottom: 16px;
	}
	.tabs-wrap {
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(40);
		}
		margin-bottom: rem(16);
	}
	.solution-content__body-icon {
		@include media-breakpoint-down(lg) {
			display: none;
		}
	}
	.solution-content__body {
		@include media-breakpoint-down(lg) {
			padding-top: rem(24);
			// text-align: center;
			h2 {
				// text-align: center;
			}
			ul {
				text-align: left;
			}
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sIndusries

.project-industry-slider-item {
	background: linear-gradient(180deg, rgba(238, 243, 250, 0.63) 0%, #eef3fa 100%);
	position: relative;
	@include media-breakpoint-up(xl) {
		flex-direction: row-reverse;
	}
	@include media-breakpoint-up(lg) {
		// width: calc(100% - 1px);
		height: rem(502);
		// margin-right: rem(6);
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	&__bg {
		@include media-breakpoint-up(xl) {
			position: absolute;
			bottom: 0;
			left: 0;
			max-width: none;
			height: 100%;
			svg,
			img {
				position: absolute;
				bottom: 0;
				left: 0;
				max-width: none;
			}
		}
		position: relative;
		@include media-breakpoint-up(lg) {
			width: 594px;
			max-width: calc(100% - 670px) !important;
			padding-bottom: 10px;
			img,
			svg {
				max-width: 100%;
			}
		}
	}
	&__body {
		@include media-breakpoint-up(lg) {
			padding: rem(30);
		}
		@include media-breakpoint-up(xl) {
			max-width: 60%;
		}
	}
	&__logo {
		display: flex;
		align-items: center;
		margin-bottom: rem(16);
		picture {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			overflow: hidden;
			margin-right: 8px;
			background-color: $white;
			border-radius: 50%;
		}
	}
	&__title {
		font-size: rem(32);
		margin-bottom: rem(8);
		@include media-breakpoint-up(lg) {
			max-width: rem(510);
		}
		line-height: calc(40 / 32);
		font-weight: 400 !important;
	}
	&__caption {
		color: #838990;
		font-size: rem(16);
		margin-bottom: rem(32);
	}
	ul {
		margin-bottom: 16px !important;
		padding-bottom: 0 !important;
		&::after {
			display: none !important;
		}
		@include media-breakpoint-up(lg) {
			display: flex;
			flex-wrap: wrap;
			li {
				margin-right: rem(52);
				max-width: 270px;
				font-size: rem(12);
				font-weight: normal;
				&:nth-child(even) {
					margin-right: 0;
				}
			}
		}
	}
	ul {
		list-style-type: none;
		li {
			position: relative;
			margin-bottom: 1.5rem;
			padding-left: 2.25rem;
		}
		li::before {
			background-repeat: no-repeat;
			background-size: contain;
			content: "";
			height: 1.875rem;
			left: 0;
			position: absolute;
			top: -0.25rem;
			width: 1.875rem;
			background-image: url("../img/svg/project-slider-list-2.svg");
		}
	}
	display: flex;
	@include media-breakpoint-down(lg) {
		&__bg {
			margin-bottom: 10px;
			width: 100%;
			height: 309px;
			img {
				max-width: 100%;
			}
		}
		&__body {
			padding: rem(12);
			padding-bottom: rem(28);
		}
		width: rem(328);
		height: rem(645);
		background: linear-gradient(180deg, rgba(238, 243, 250, 0.63) 0%, #eef3fa 100%);
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		&__logo {
			display: flex;
			align-items: center;
			margin-bottom: rem(8);
			picture {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				overflow: hidden;
				margin-right: 8px;
			}
		}
		&__title {
			font-size: rem(19);
			margin-bottom: rem(8);
		}
		&__caption {
			font-size: rem(12);
			margin-bottom: rem(18);
		}
		ul {
			margin-bottom: 0;
			list-style-type: none;
		}
		li {
			font-size: rem(12);
			margin-bottom: rem(20);
			padding-left: rem(38);
			position: relative;
			&::before {
				content: "";
				position: absolute;
				width: rem(32);
				height: rem(27);
				left: 0;
				top: rem(-5);
				background-size: contain;
				background-repeat: no-repeat;
				background-image: url("../img/svg/project-slider-list-2.svg");
			}
		}
	}
	&:nth-child(odd) {
		background: $primary;
		color: $white;
		@include media-breakpoint-up(xl) {
			flex-direction: row;
		}
		@include media-breakpoint-up(lg) {
			flex-direction: row-reverse;
		}
		.project-industry-slider-item__caption {
			color: rgba($white, 0.56);
		}
		.project-industry-slider-item__bg {
			@include media-breakpoint-up(xl) {
				position: absolute;
				bottom: 0;
				right: 0;
				max-width: none;
				height: 100%;
				left: auto;
				svg,
				img {
					right: 0;
					left: auto;
				}
			}
		}
		.project-industry-slider-item__btn {
			color: $white;
			border-color: $white;
			box-shadow: none;
		}
		li {
			&::before {
				background-image: url("../img/svg/project-slider-list-1.svg");
			}
		}
	}
	&__btn {
		@extend .btn;
		@include media-breakpoint-down(lg) {
			width: 100%;
		}
		box-shadow: 0px 4px 10px #9ac0ff;
		border-color: $primary;
		color: $primary;
	}
}

.solution-content__projects-slider--variant {
	.project-industry-slider-item__btn {
		color: $primary !important;
		border-color: $primary !important;
		box-shadow: 0px 4px 10px #9ac0ff !important;
	}
	.project-industry-slider-item__bg {
		@include media-breakpoint-up(xl) {
			left: 0 !important;
			right: auto !important;
		}
	}
	.project-industry-slider-item {
		background: linear-gradient(180deg, rgba(238, 243, 250, 0.63) 0%, #eef3fa 100%);
		color: $body-color;
		@include media-breakpoint-up(xl) {
			flex-direction: row-reverse !important;
		}
		@include media-breakpoint-up(lg) {
			flex-direction: row !important;
		}
		&:nth-child(even) {
			background: $primary;
			color: $white;
			.project-industry-slider-item__bg {
				@include media-breakpoint-up(xl) {
					right: 0 !important;
					left: auto !important;
				}
			}
			@include media-breakpoint-up(xl) {
				flex-direction: row !important;
			}
			@include media-breakpoint-up(lg) {
				flex-direction: row-reverse !important;
			}
			.project-industry-slider-item__caption {
				color: rgba($white, 0.56);
			}
			.project-industry-slider-item__btn {
				color: $white !important;
				border-color: $white !important;
				box-shadow: none !important;
			}
			li {
				&::before {
					background-image: url("../img/svg/project-slider-list-1.svg");
				}
			}
		}
		li {
			&::before {
				background-image: url("../img/svg/project-slider-list-2.svg");
			}
		}
	}
	li {
		&::before {
			background-image: url("../img/svg/project-slider-list-2.svg");
		}
	}
}
.solution-content--industries .project-industry-slider-item ul:after {
	display: none !important;
}
