extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sInfoNews/_sInfoNews.pug
include ../blocks/sRating/_sRating.pug
include ../blocks/sIndexSlider/_sIndexSlider.pug
include ../blocks/sCooperation/_sCooperation.pug
include ../blocks/footer/_footer.pug
include ../blocks/sBars/_sBars.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	//- +mob-mnu()

	+top-nav()
	+headerBlock
	//- +sRating
	//- +sIndexSlider
	//- +sBars
	//- +sInfoProjectsIndex
	//- +sCooperation
	//- +sInfoPartnersIndex
	//- +sInfoNewsIndex
	//- +footer()
      



