doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0") 
	body 
		style.
			svg{
					width: 100% !important;
				height: auto;
				transform-box: fill-box;
			}
			#belaz-1{ 
				transform: translate(200px,-200px);
				opacity: 0;
				
			}
			.st929{
				opacity: 0;
			}

			.tr-center{

				transform-origin: center center;
			}
			#circle-2_3_{
				transform-origin: center center;
				opacity: 0;
				
			}
			#circle-2_3_1{
				opacity: 0;	

			}

			.line-with-circle{
				position: relative;
			}
			.st0-3,
			.line-3{
				opacity: 0;
			}

			.monitor-4{

			}
			.circle-7,
			.screen-7,
			.box-6,
			.circle-5 {
				opacity: 0;
			}

 
			#text-18,
			#line-19,
			[id^="circle-12"],
			[id^="circle-11"],
			#screen-7--right,
			#screen-7--left,
			#box-6--1,
			#box-6--2,
			#box-6--3,
			#box-6--4,
			#circle-5--1,
			#circle-5--2,
			#circle-5--3,
			#circle-7--1, #circle-7--3,
			#circle-7--2, #circle-7--4{
				opacity: 0; 
			}

			.hand-11{
				transform-origin: center center;
				// transform: rotate(-84deg) translateX(384px) translateY(-4px);
			}
			.hand-12{ 
				transform: rotate(-41deg) translate(-187px, 186px);
			}

			#granuly, #granuly_1_, #granuly_2_,  #granuly_3_{
				opacity: 0;
			}

			#circle-15--7,
			#circle-15--8{ 
				transform: translate(-61px,-50px);
			}

			#circle-15--2{
				transform-origin: center center;
				opacity: 0;
			}
			#circle-15--5,
			#circle-15--1{
				opacity: 0;
			}
			[id^="circle-15"]{
				transform-origin: center center;
				opacity: 0;
			}
			#shield-18,
			#dots-19,
			#el-17--1,
			#el-17--2,
			#circle-16--1{
				opacity: 0;
			}
			[id^="circle-16"]{
				transform-origin: center center; 
			}
		include ../blocks/headerBlock/svg2.svg
		script(src="libs/animejs/lib/anime.min.js") 
		script(src=`js/svg.js?v=${version}`)