mixin sContent(news)
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		+e.mob-menu
			+e.btn-prev(href="#")
				+icon(`chevron-left`)
				span Новости
			+e.btn-down(href="#")
				+icon(`chevron-down`)
		.container
			h1 DCLogic выступил спонсором ежегодного конгресса «Подмосковные вечера»
			if news
				p.mini 06 октября 2021
			else
				h4 06 октября — 10 октября
			p.big DCLogic выступил спонсором ежегодного конгресса «Подмосковные вечера», который прошел с 26 по 28 сентября в отеле Ареал. Организатором мероприятия выступил клуб Топ-менеджеров «4CIO».
			h2 DCLogic
			p В этом году на конгрессе обсуждались самые важные, интересные и волнующие вопросы ИТ и <a href="#">смежных сфер деятельности.</a> Помимо насыщенной деловой программы и выставки решений от партнеров, организаторы подготовили для участников гала-ужин и чемпионат по футболу.
			ul
				li Совершенствуйте свой бизнес в России с новым Dell Global Partner
				li DCLogic признан крупнейшим ИТ-поставщиком в ритейле
					ul
						li Совершенствуйте свой бизнес в России с новым Dell Global Partner
						li Совершенствуйте свой бизнес в России с новым Dell Global Partner
				li DCLogic признан крупнейшим ИТ-поставщиком в ритейле
			+pic(`content-1.jpg`,'',0)
				p.description Description
			h6 DCLogic
			+e.table-wrap
				table
					thead
						tr
							th Maecenas
							th Phasellus
							th Gravida
							th Integer
					tbody
						tr
							td Nullam
							td Tincidunt
							td At elementum
							td Dapibus
						tr
							td Luctus
							td Mauris
							td Felis
							td Aenean
						tr
							td Dignissim
							td Vestibulum
							td Fusce
							td Donec
			p.quote Это было круто! Я регулярно приезжаю на «Подмосковные вечера» и каждый раз нахожу что-то новое и интересное для себя. Приятно было встретить знакомых, пообщаться и обсудить последние тенденции отрасли. Заметил много новых людей. Здорово, что конгресс притягивает все больше специалистов!
			h3 DCLogic
			p Совместно с нашим партнером Juniper Networks мы представили на выставке новые сетевые решения для безопасности.<br>От лица DCLogic в конгрессе приняли участие Денис Тищенко, заместитель генерального директора по работе с ключевыми заказчиками и Алексей Орлов, ведущий менеджер по продажам.
			ol
				li DCLogic признан крупнейшим ИТ-поставщиком в ритейле
				li Совершенствуйте свой бизнес в России с новым Dell Global Partner
					ol 
						li DCLogic — крупнейшая IT-компания России
						li DCLogic признан крупнейшим ИТ-поставщиком в ритейле
				li Совершенствуйте свой бизнес в России с новым Dell Global Partner
			h4 DCLogic
			h5 DCLogic выступил спонсором ежегодного конгресса «Подмосковные вечера»
			p Совместно с нашим партнером Juniper Networks мы представили на выставке новые сетевые решения для безопасности.<br>От лица DCLogic в конгрессе приняли участие Денис Тищенко, заместитель генерального директора по работе с ключевыми заказчиками и Алексей Орлов, ведущий менеджер по продажам.
			+e.slider--js.swiper
				.swiper-wrapper
					.swiper-slide
						+pic(`content-1.jpg`,'',0)
							p.description Description
					.swiper-slide
						+pic(`content-2.jpg`,'',0)
							p.description Description
					.swiper-slide
						+pic(`content-1.jpg`,'',0)
							p.description Description
				.swiper-pagination
				+arrow
			+e.youtube
				iframe(src='https://www.youtube.com/embed/7qBfdcI-d1Q' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
			if news
			else
				+badge(`Выездное мероприятие`,`gray`)
			+e.share-block
				p Поделиться
				+soc-wrap

mixin sContentSlider
	+b.sContentSlider
		.container-xl
			+e.slider--js.swiper
				h2 Посмотреть другие новости
				.swiper-wrapper
					+info-news-item(`swiper`)
					+info-news-item(`swiper`)
					+info-news-item(`swiper`)
					+info-news-item(`swiper`)
					+info-news-item(`swiper`)
					+info-news-item(`swiper`)
				+e.btns
					+arrow
				.swiper-pagination

mixin sContentCaseSlider
	+b.sContentCaseSlider
		.container-xl
			.sOneSolution__projects
				.sOneSolution__projects-slider.swiper
					h3 Посмотреть другие проекты
					.swiper-wrapper
						+b.project-slider-item.swiper-slide
							+e.bg
								img(src="img/svg/project-slider-item-1.svg", alt="")
							+e.body
								+e.logo
									+pic(`project-slider-logo-1.png`,'',0)
									span Роскосмос
								+e.title Поставка персональных систем производства и МФУ HP
								+e.caption Вычислительная инфраструктура, Цифровизация предприятий
								ul
									li Оптимизировать «бумажные» потоки в компании
									li Минимизация потребления электроэнергии
									li Увеличение эффективности для обеспечения уровня необходимой производительности
								+e.btn(href="#") Читать отзыв заказчика
						+b.project-slider-item.swiper-slide
							+e.bg
								img(src="img/svg/project-slider-item-2.svg", alt="")
							+e.body
								+e.logo
									+pic(`project-slider-logo-2.png`,'',0)
									span Промтех
								+e.title Поставка персональных систем производства HP
								+e.caption Поставка персональных систем производства HP
								ul
									li Увеличение эффективности для обеспечения уровня необходимой производительности
									li Минимизация потребления электроэнергии
								+e.btn(href="#") Читать отзыв заказчика
						+b.project-slider-item.swiper-slide
							+e.bg
								img(src="img/svg/project-slider-item-3.svg", alt="")
							+e.body
								+e.logo
									+pic(`project-slider-logo-3.png`,'',0)
									span Росатом
								+e.title Поставка компьютерного оборудования производства HP
								+e.caption Вычислительная инфраструктура
								ul
									li Увеличение эффективности для обеспечения уровня необходимой производительности
									li Минимизация потребления электроэнергии
								+e.btn(href="#") Читать отзыв заказчика
						+b.project-slider-item.swiper-slide
							+e.bg
								img(src="img/svg/project-slider-item-2.svg", alt="")
							+e.body
								+e.logo
									+pic(`project-slider-logo-4.png`,'',0)
									span ДельтаКредит
								+e.title Поставка лицензий Oracle
								+e.caption Вычислительная инфраструктура, Цифровизация предприятий
								ul
									li Быстрый заказ лицензий на продление, этим мы избежали увеличения стоимости лицензий для Заказчика
									li Беспрерывное оказание услуг сервисной поддержки компанией Oracle
								+e.btn(href="#") Читать отзыв заказчика
					.sOneSolution__projects-btns
						+arrow


mixin sContentCase(news)
	// start sContent
	+b.SECTION.sContent--case.section#sContentCase&attributes(attributes)
		.container-xl
			+b.project-industry-slider-item.swiper-slide
				+e.bg
					img(src="img/svg/project-industry-slider-item-5.svg", alt="")
				+e.body
					+e.logo
						+pic(`project-slider-logo-5.png`,'',0)
						span Альфа-банк
					+e.title Поставки компьютерного оборудования
					+e.caption Вычислительная инфраструктура, Цифровизация предприятий
					ul
						li Укреплена надежность информационной структуры компании
						li Повышен уровень инвестиционной защиты
						li Минимизация потребления электроэнергии
					+e.btn(href="#") Читать отзыв заказчика
		.container
			p Альфа-Банк, основанный в 1990 году, является универсальным банком, осуществляющим все основные виды банковских операций, представленных на рынке финансовых услуг, включая обслуживание частных и корпоративных клиентов, инвестиционный банковский бизнес, торговое финансирование и управление активами. В Альфа-Банке работает около 22 тысяч сотрудников.<br><br>Банковская группа «Альфа-Банк» сохраняет позицию одного из крупнейших российских частных банков по размеру совокупного капитала, кредитному портфелю и средствам клиентов.
			+pic(`content-3.jpg`,'',0)
				p.description Description
			+pic(`content-4.jpg`,'',0)
				p.description Description
			h2 Бизнес задачи заказчика
			ul
				li Обеспечение функциональных рабочих мест, отвечающих современным тенденциям информационных технологий
				li Повышение оперативности и мобильности работы персонала на всех уровнях
				li Увеличение уровня производительности в связи с расширением бизнеса
				li Увеличение надежности техники и компьютеров
				li Сокращение времени обработки запросов клиентов
			h2 Решение
			p Поставка компьютерного оборудования производства HP.<br><br>Профессиональный и подробный анализ состояния инфраструктуры заказчика позволил выбрать оптимального производителя компьютерной техники для каждой индивидуальной задачи. Бизнес-компьютеры HP исключительно удобны в использовании, оснащены новейшей системой защиты и инновационными функциями, позволяющими работать повсеместно и в любое время.<br><br>Техническое консультирование нашими специалистами и комплексные поставки компьютерного оборудования обеспечило Альфа — Банку серьезные результаты.
			h2 Результаты
			ul
				li Укреплена надежность информационной структуры компании
				li Повышен уровень инвестиционной защиты
				li Минимизация потребления электроэнергии
		.container-xl
			+e.request-wrap
				h2 Отзыв клиента
				p.quote Качественное компьютерное оборудование, предоставленное DCLogic не только ускорило процесс обработки документов, но и позволило на современном уровне вести прием клиентов, не отвлекаясь на решение мелких организационных проблем
		.container
			+e.P.soc-title.mini Поделиться
			+soc-wrap
