mixin sIndexSlider(data)
	// start sIndexSlider
	+b.sIndexSlider.section#sIndexSlider&attributes(attributes)
		.container-xl
			.tabs
				.tabs__caption
					.tabs__btn.tabs__btn--solution.active Решения
					.tabs__btn.tabs__btn--industries Отрасли
				.tabs__content-wrap
					.tabs__content.active
						+index-slider
					.tabs__content
						+index-slider(`type`)
			+e.question-wrap
				p Не нашли ответ на ваш вопрос? Напишите нам и вы его получите
				+e.question-btn.btn.btn-primary(href="#") Задать вопрос
	// end sIndexSlider

mixin index-slider(type)
	+b.index-slider--js.swiper
		.swiper-wrapper
			mixin item(img,title,text,bg,bgColor)
				+b.index-slider-item.swiper-slide(class=`index-slider-item--${bgColor}`)
					+e.bg
						img(src=`img/svg/index-slider-bg-${bg}.svg`, alt="")
					+e.img
						img(src=`img/svg/index-slider-icon-${img}.svg`, alt="")
					+e.title!=title
					+e.caption!=text
					+e.more(href="#") Подробнее
			if type
				+item(`5`,`Образование, НИИ`,`Цифровизация предприятий, передовые направления, услуги, информационная безопасность, автоматизация, импортозамещение, вычислительная инфраструктура, `,`5`,`white`)
				+item(`6`,`Торговые сети (retail)`,`Цифровизация предприятий, передовые направления, услуги, информационная безопасность, автоматизация, импортозамещение, вычислительная инфраструктура, `,`6`,`gray`)
				+item(`7`,`Логистика`,`Цифровизация предприятий, передовые направления, услуги, информационная безопасность, автоматизация, импортозамещение, вычислительная инфраструктура, `,`7`,`blue`)
				+item(`8`,`Строительство, девелоперы`,`Цифровизация предприятий, передовые направления, услуги, информационная безопасность, автоматизация, импортозамещение`,`8`,`white`)
				+item(`5`,`Логистика`,`Цифровизация предприятий, передовые направления, услуги, информационная безопасность, автоматизация, импортозамещение, вычислительная инфраструктура, `,`5`,`white`)
			else
				+item(`1`,`Цифровизация предприятий`,`Это концепция нового цифрового пространства, единой системы, в которую интегрируются производственные станки, системы обеспечения жизнедеятельности и безопасности предприятия, то есть вся электроника организации`,`1`,`white`)
				+item(`2`,`Вычислительная инфраструктура`,`Это концепция нового цифрового пространства, единой системы, в которую интегрируются производственные станки, системы обеспечения жизнедеятельности и безопасности предприятия, то есть вся электроника организации`,`2`,`blue`)
				+item(`3`,`Информационная безопасность`,`Сохранение и защита информации, а также ее важнейших элементов, в том числе системы и оборудование, предназначенные для использования, сбережения и передачи этой информации`,`3`,`white`)
				+item(`4`,`Импортозамещение`,`Замещение импорта товарами, произведёнными внутри страны. Для замещения импорта национальными товарами могут быть использованы протекционистские методы регулирования: тарифные и нетарифные`,`4`,`gray`)
				+item(`1`,`Вычислительная инфраструктура`,`Комплекс взаимодействующих компьютерных систем, оргтехники, кабельных систем, внутренних и внешних телефонных линий. ИТ-инфраструктура обеспечивает повседневную деятельность производительных сил. `,`1`,`white`)
		.swiper-pagination
		+e.arrow-wrap
			+arrow