mixin s404(data)
	// start s404
	+b.s404#s404&attributes(attributes)
		.container
			+e.title 404
			p Страница не найдена. Она не существовала или срок публикации истёк.
			+e.btn.btn.btn-primary(href="#") На главную
		+e.bg--bg1
			img(src="img/svg/404-bg-1.svg", alt="")
		+e.bg--bg2
			img(src="img/svg/404-bg-2.svg", alt="")
		+e.bg--bg3
			img(src="img/svg/404-bg-3.svg", alt="")
		+e.bg--bg4
			img(src="img/svg/404-bg-4.svg", alt="")
		+e.bg--bg5
			img(src="img/svg/404-bg-5.svg", alt="")
	// end s404