mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container-xl
			.row
				.col-auto
					+e.logo-wrap
						+e.logo(href="#")
							img(src="img/svg/logo.svg", alt="")
				.col
					+e.menu-wrap
						+e.menu
							a(href="#") Решения
							a(href="#") Отрасли
							a(href="#") Информация
							a(href="#") Контакты
					+e.menu-btns
						+e.menu-btn--tel(href="tel:+74959896227")
							+icon(`phone`)
						+e.menu-btn--mail(href="mailto:info@dclogic.ru")
							+icon(`mail`)
						+e.menu-btn--search(href="#")
							+icon(`search`)
						+e.menu-btn--menu(href="#")
							+icon(`menu`)
				.col-auto.d-none.d-lg-block
					+e.wrap
						+e.search-btn(href="#")
							+icon(`search`)
						+e.info
							p +7 (495) 989-62-27
							p info@dclogic.ru
	// end top-nav
//- mixin top-nav() 
//- 	// start top-nav
//- 	+b.top-nav.block-with-lazy
//- 		.container
//- 			.row
//- 				.col.order-lg-0.order-last
//- 					.menu-mobile.menu-mobile--js
//- 						.menu-mobile__inner
//- 							+menu-toggle()
//- 							+mnu()
					
//- 				.col-auto.d-lg-none
//- 					+menu-toggle()
//- 	// end top-nav