include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")

mixin links-wrap(items)
	+b.links-wrap
		.swiper.links-wrap-slider
			.swiper-wrapper
				each item,index in items
					if (index==0)
						+e.btn.swiper-slide.active(href="#")=item
					else
						+e.btn.swiper-slide(href="#")=item

mixin tabs-wrap(items)
	+b.tabs-wrap.tabs
		.swiper.tabs-wrap-slider
			.swiper-wrapper.tabs__caption
				each item,index in items
					if (index==0)
						+e.btn.tabs__btn.swiper-slide.active=item.caption
							img(src=`img/svg/${item.img}.svg`, alt="")
					else
						+e.btn.tabs__btn.swiper-slide=item.caption
							img(src=`img/svg/${item.img}.svg`, alt="")
			.tabs__content-wrap
				block
