mixin sSearch(data)
	// start sSearch
	+b.sSearch.section#sSearch&attributes(attributes)
		+links-wrap(searchTabs)
		.container
	// end sSearch

mixin search-block()
	+b.search-block
		.container
			+e.input-wrap
				+e.input-block
					+e.INPUT.input(placeholder=`Введите`)
					+e.BUTTON.btn(type="button")
						+icon(`search`)
				+e.search-result Найдено 56 результатов