mixin sSearch(data)
	// start sSearch
	+b.sSearch.section#sSearch&attributes(attributes)
		+links-wrap(searchTabs)
		.container-lg
			+search-item(`PAPA Regatta – 2021`,`В октябре в водах Центральной Далмации Хорватии прошла четвертая PAPA Regatta. Это ежегодное мероприятие с захватывающими гонками на яхтах и интересной развлекательной программой на берегу импортозамещение`,`1`,`bread`)
			+search-item(`Цифровизация предприятий`,`Это концепция нового цифрового пространства, единой системы, в которую интегрируются производственные станки, системы обеспечения жизнедеятельности и безопасности предприятия, безопасность, автоматизация, импортозамещение, то есть вся электроника организации`,`2`)
			+search-item(`Образование, НИИ`,`Цифровизация предприятий, передовые направления, услуги, информационная безопасность, автоматизация, импортозамещение, вычислительная инфраструктура`,`3`)
			+search-item(`Поставка персональных систем производства и МФУ HP`,`Вычислительная инфраструктура, Цифровизация предприятий`,`1`)
			+search-item(`DCLogic признан крупнейшим ИТ-поставщиком в ритейле`,`DCLogic занимает 16 место в рейтинге крупнейших ИТ-поставщиков в российском ритейле по материалам обзора TAdviser «Информационные технологии в ритейле» импорт.`,`2`)
			+search-item(`Предприятия "Норникеля" продолжают автоматизировать учет энергоресурсов`,`В Норильском обеспечивающем импорт комплексе (группа предприятий «Норникеля») работы по подключению к автоматизированной системе стартовали в январе 2019 года.`,`3`)
			+search-item(`PAPA Regatta – 2021`,`В октябре в водах Центральной Далмации Хорватии прошла четвертая PAPA Regatta. Это ежегодное мероприятие с захватывающими гонками на яхтах и интересной развлекательной программой на берегу импортозамещение`,`1`)
			+search-item(`Цифровизация предприятий`,`Это концепция нового цифрового пространства, единой системы, в которую интегрируются производственные станки, системы обеспечения жизнедеятельности и безопасности предприятия, безопасность, автоматизация, импортозамещение, то есть вся электроника организации`,`2`)
			+search-item(`Образование, НИИ`,`Цифровизация предприятий, передовые направления, услуги, информационная безопасность, автоматизация, импортозамещение, вычислительная инфраструктура`,`3`)
			.container
				+e.btn-wrap
					+e.BUTTON.btn.btn.btn-outline-primary Показать ещё
	// end sSearch

mixin search-block()
	+b.search-block
		.container
			+e.input-wrap
				+e.input-block
					+e.INPUT.input(placeholder=`Введите`)
					+e.BUTTON.btn(type="button")
						+icon(`search`)
				+e.search-result Найдено 56 результатов

mixin search-item(title,caption,img,breadcrumb)
	+b.search-item
		.row
			.col.order-1.order-lg-0
				+e.info
					if breadcrumb
						+breadcrumb(`Информация`,`Мероприятия`)
					else
						+breadcrumb(`Решения`)
					+e.title!=title
					+e.caption!=caption
			+e.col.col-lg-auto.order-0.order-lg-1
				+pic(`search-item-${img}.jpg`,``,0)

mixin sSearchEmpty()
	+b.sSearch.section#sSearch&attributes(attributes)
		.container
			p.empty Извините, по вашему запросу ничего не найдено. Измените поисковый запрос